@import "../define/__init.scss";
//@import "../frame/_header.scss";
h2{
	margin: 5px 0 10px;
	font-size: 0.9em;
	line-height: 140%;
}
.rule{
	li{
		font-size: 0.8em;
		line-height: 140%;
		margin: 5px 5px 5px 24px;
		color: $dark_gray;
		list-style: decimal;
	}
}
.inside-service{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	color: white;
	z-index: 5;
	height: 50px;
	h1{
		text-align: center;
		font-size: 0.6em;
		padding: 2px 0;
	}
	.actions{
		border-top: 1px solid $gray;
		background: white;
		@include clearfix;
		li{
			float: left;
			width: 50%;
			padding: 5px;
			text-align: center;
			@include box-sizing(border-box);
			a{
				color: black;
				display: block;
			}
		}
	}
}

.footer{
	padding-bottom: 15px;
}