footer(class="footer-copyright")
 .container
  .footerList.ta_left.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
    ul
      li.col-phone-12.col-pad_v-4.col-pad_h-4.col-pc-4
        h4 關於雲書
        a(href="http://www.bestbook.com/about.do") 關於雲書
      li.col-phone-12.col-pad_v-4.col-pad_h-4.col-pc-4
        h4 FAQ
        a(href="http://www.bestbook.com/faq.do") 常見問題
        br
        a(href="http://www.bestbook.com/publishFlow/1") 出書流程說明
        br
        a(href="http://www.bestbook.com/incomeFaq.do") 收入與付款說明
      li.col-phone-12.col-pad_v-4.col-pad_h-4.col-pc-4
        h4 聯絡我們
        a(href="https://bestbook1.typeform.com/to/kdMNjk") 任何問題，歡迎與我們聯絡
  .copyright.ta_left.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
    small Copyright &copy; Corporation All rights reserved.Golden Board Cultural and Creative Ltd., Co
      br
      | 金舷國際文創事業有限公司