.mainColumn
	.container_rwdNone
		.booksCoverSelect
			h1 封面修改
			.coverSelect.col-pc-6.ta_center
				.coverSelect_01
					input.coverSelectInput(type='file', name='word', class='coverSelectInput' style='opacity: 0;')
				.coverSelect_dec
					h2 上傳完整封面
						span（毋需編輯）
					span.cololr_gray9 ●JPG, PNG / 
					span.cololr_red 尺寸大於1400*1400 
					span.cololr_gray9 / 檔案需小於4mb
					br
					span.cololr_gray9.ta_left ●若您的書封檔案未符合電子書平台要求，雲書將在不破壞原始比例下微調您的檔案若您同意，請上傳檔案
			.coverSelectOR.cololr_gray9 或
			.coverSelect.col-pc-6.ta_center
				a(class='cololr_gray9' href='booksCoverEdit_Step1.html')
					.coverSelect_02
				.coverSelect_dec
					h2 編輯封面
					span.cololr_gray9 ●圖片：可自行上傳圖片，或選擇系統封面
					br
					span.cololr_gray9 ●文字：自行輸入，可編輯字體大小、顏色、位置
