.loginColumn
  .container
    .loginImages.col-phone-12.col-pad_v-12.col-pad_h-6.col-pc-6
      .userPassword
    .loginFormWrap.col-phone-12.col-pad_v-12.col-pad_h-6.col-pc-6
      .loginForm
        .loginRow
          h4.ttile 修改密碼
        .loginRow
          p
            input(type="password" name="old_pass" class="borderInput" placeholder="請輸入舊密碼")
          small.Prompt.error 請輸入舊密碼
        .loginRow
          p
            input(type="password" name="new_pass" class="borderInput" placeholder="請輸入新密碼")
          small.Prompt.error 請輸入新密碼
        .loginRow
          p
            input(type="password" name="check_pass" class="borderInput" placeholder="請輸入舊密碼")
          small.Prompt.error 請確認新密碼
        .loginRowBtn
          a(class='btn outLinebtn-navReport col-3' href='#') 取消
          a(class='btn btn-navReport col-3' href='#') 確定修改
