.mainColumn
  .container
    .publisherPage
      .publisheriInfo.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
        .publisherPhoto.col-phone-12.col-pad_v-3.col-pad_h-3.col-pc-3.ta_center
          img(src="../assets/img/publisherPhoto_default.jpg")
        .publisheriData.col-phone-12.col-pad_v-9.col-pad_h-9.col-pc-9
          .title 丹陽出版社
          .info
            p 丹羅華出版企業體共由六間出版社組成，我們的實體書引進質優翻譯書及台灣優秀的財經、兩性、心靈、親子、人文…等作品，每月出版6至10本實體書。
            p 我們電子書主要以小說為主，網羅台灣近十年來最優秀的小說作者，每月出版10本以上電子書，是目前台灣最多通路(中華電、遠傳電、magv、udn、金石堂….)、最多載具( pc、各系統手機、電子書閱讀器)的電子書。
            p 歡迎您加入粉絲團(http://www.facebook.com/danyangculture)，有最新出版訊息、各種活動及獎品…等，我們也竭誠歡迎作家來稿、或作家自費出版(實體書、電子書)…等，3日內必覆，統一連絡信箱：papapan88899@gmail.com
          .sherbBtns
              span 分享至：
              a(href='#')
                img(src='../assets/img/share_fb.jpg', width='30', height='30')
              |  
              a(href='#')
                img(src='../assets/img/share_twitter.jpg', width='30', height='30')
              |  
              a(href='#')
                img(src='../assets/img/share_googleplus.jpg', width='30', height='30')
              |  
              a(href='#')
                img(src='../assets/img/share_line.jpg', width='30', height='30')
      hr
      .publisherBooks.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12 
        .title 暢銷書籍
        ul.sellBooksList_UL
          li(pid='0')
            a(href='booksPage.html')
              img(src='http://static.bestbook.com/cover_template/thumbnail/books1.jpg')
              span.bookName  我是書名我是書名我是書名我是書名我是書名我是書名我是書名
          li(pid='1')
            a(href='booksPage.html')
              img(src='http://static.bestbook.com/cover_template/thumbnail/books2.jpg')
              span.bookName 我是書名
          li(pid='2')
            a(href='booksPage.html')
              img(src='http://static.bestbook.com/cover_template/thumbnail/books3.jpg')
              span.bookName  我是書名
          li(pid='3')
            a(href='booksPage.html')
              img(src='http://static.bestbook.com/cover_template/thumbnail/books4.jpg')
              span.bookName  我是書名
          li(pid='4')
            a(href='booksPage.html')
              img(src='http://static.bestbook.com/cover_template/thumbnail/books5.jpg')
              span.bookName  我是書名
          li(pid='5')
            a(href='booksPage.html')
              img(src='http://static.bestbook.com/cover_template/thumbnail/books6.jpg')
              span.bookName  我是書名
          li(pid='6')
            a(href='booksPage.html')
              img(src='http://static.bestbook.com/cover_template/thumbnail/books7.jpg')
              span.bookName  我是書名
      hr
      .publisherFooter.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
        .logo_tooltip.ta_right
          span.fz_12.cololr_gray9 powered by
          a(href='http://www.bestbook.com/')
            img(src='../assets/img/publisher_logo_tooltip.jpg')
