.SelectList-inner
    .SelectTitle
        .tit
            span.fz_20 新增分類 
            span 請選擇書籍分類 (最多兩個)
    .pics
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='100')
            | 文學小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='101')
              | 愛情文藝小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='102')
              | 輕小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='103')
              | 科幻小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='104')
              | 奇幻小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='105')
              | 懸疑小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='106')
              | 推理小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='107')
              | 武俠小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='108')
              | 歷史小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='109')
              | 軍事小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='110')
              | 政治小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='111')
              | 翻譯文學
            ul.item.sub-panel
              li.no-sub-panel
                label
                  input(depth='3', type='checkbox', value='112')
                  | 日本
              li.no-sub-panel
                label
                  input(depth='3', type='checkbox', value='113')
                  | 美國
              li.no-sub-panel
                label
                  input(depth='3', type='checkbox', value='114')
                  | 歐洲
              li.no-sub-panel
                label
                  input(depth='3', type='checkbox', value='115')
                  | 東南亞
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='116')
              | 電影/電視小說
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='117')
              | 散文
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='118')
              | 詩
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='119')
              | 其他類小說
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='200')
            | 生活休閒
        ul.item.sub-panel
          li.item

            label
              input(depth='2', type='checkbox', value='201')
              | 塑身
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='202')
              | 美妝保養
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='203')
              | 居家
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='204')
              | 手作
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='205')
              | 寵物
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='206')
              | 旅遊
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='207')
              | 運動休閒
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='208')
              | 攝影
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='209')
              | 美食
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='210')
              | 料理
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='211')
              | 親子教育
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='212')
              | 兩性
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='213')
              | 名人偶像
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='214')
              | 命理占星/風水
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='215')
              | 性愛指南
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='216')
              | 寫真集
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='217')
              | 醫療養生
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='218')
              | 藝術
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='219')
              | 設計
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='220')
              | 居家擺飾
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='300')
            | 圖文漫畫
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='301')
              | 動漫畫
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='302')
              | 圖文/插畫
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='400')
            | 心靈勵志
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='401')
              | 人生哲學
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='402')
              | 心靈療法
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='403')
              | 職場人際
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='404')
              | 情緒管理
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='405')
              | 勵志故事
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='406')
              | 天賦/潛能開發
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='500')
            | 商業理財
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='501')
              | 管理
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='502')
              | 投資理財
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='503')
              | 行銷
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='600')
            | 電腦資訊
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='601')
              | 電腦硬體
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='602')
              | 作業系統
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='603')
              | 軟體應用
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='604')
              | 程式設計
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='605')
              | 網頁開發設計
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='606')
              | 網路/網站
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='607')
              | 影音多媒體
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='608')
              | 影像繪圖
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='609')
              | 數位生活
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='700')
            | 社會科學
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='701')
              | 史地
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='702')
              | 哲學
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='703')
              | 心理學
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='704')
              | 政治/軍事
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='705')
              | 法律
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='800')
            | 自然科普
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='801')
              | 應用科學
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='802')
              | 自然科學
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='900')
            | 語言學習/考試用書
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='901')
              | 語言學習
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='902')
              | 考試用書
      .picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
        h4
          label
            input(depth='1', type='checkbox', value='1000')
            | 童書
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='1001')
              | 0-2歲
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='1002')
              | 3-6歲
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='1003')
              | 7-10歲
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='1004')
              | 11-14歲
        ul.item.sub-panel
          li.item
            label
              input(depth='2', type='checkbox', value='1005')
              | 兒童繪本
    .confirmBlock
        .confirmBlockInner
          .btns
            p.cololr_red 您已選擇超過2個分類！
            a(class='btn outLinebtn-navReport cancel' href='#') 取消
            a(class='btn btn-navReport send' href='#') 確認