.loginColumn
  .container
    .loginImages.col-phone-12.col-pad_v-12.col-pad_h-6.col-pc-6
      .userInfo
    .loginFormWrap.col-phone-12.col-pad_v-12.col-pad_h-6.col-pc-6
      .loginForm
        .loginRow
          h4.ttile 我的帳號:
        .loginRow
          p.userId xxxx.wen@uitox.com
        .loginRowBtn
          a(class='btn btn-navReport col-3' href='#') 修改密碼
        hr
        .loginRow
          h4.ttile 我的銀行帳戶:
        .loginRow
          p.userId 國泰世華  035453********66734
        .loginRowBtn
          a(class='btn btn-navReport col-3' href='#') 修改
        hr
        .loginRow
          h4.ttile 我的書店:
        .loginRow
          p.userId 尚未設定
        .loginRowBtn
          a(class='btn btn-navReport col-3' href='publisherPageEdit.html') 前往設定
        hr
        .loginRow
          h4.ttile 我的書店:
        .loginRow
          p.userId
             a(href='publisherPage.html' target='_blank') xxxxx.bestbook.com
        .loginRowBtn
          a(class='btn btn-navReport col-3' href='publisherPageEdit.html') 修改設定


