// background image file
$bg_file_width:   400px;
$bg_file_height:  400px;

// buttons red
$red:             #be252c;
$dark_red:        #9e1621;
$dim_red:         #7d0b14;
$light_red:       #ce343f;
$lighter_red:     #e8414d;
$pale_red:        #cc757f;
$light_pale_red:  #e5babf;
$bright-red:      #fe0202;

// buttons blue
$blue:            #1180c2;
$dark_blue:       #0066a0;
$dim_blue:        #004e7a;
$light_blue:      #2290c6;
$lighter_blue:    #33a6de;
$pale_blue:       #62a4c4;
$light_pale_blue: #b1d1e1;

// buttons gray
$dark_gray:			#777777;
$gray:				#cccccc;
$light_gray:		#e7e7e7;

// buttons orange
$dark_orange:		#c44c32;
$orange:			#ff6443;
$light_orange:		#ff9e08;
$lighter_orange:	#fd7d62;

// buttons green
$light_green:       #69ca0a;
$green:             #19d600;
$dark_green:        #0f7d00;


$link:				rgb(   0, 119, 177);

$F4:				rgb( 244, 244, 244);
$EE:				rgb( 238, 238, 238);
$divid:				#d4d4d4;
$sky_blue:			#00afef;
$ad_yellow:			#fff5dd;