doctype html
html
  include ../frame/head.jade
  body
    include ../frame/frameHeader.jade
    .indexBanner
     .container
       h4 想要調整表格、圖片或是整段章節？歡迎使用進階編輯功能，讓書的內容更加豐富好讀！
    include ../frame/footer.jade