h1,h2,h3{
    font-family: inherit;
    line-height: 48px;
    vertical-align: middle;
    color: inherit;
}
h4,h5,h6 {
    font-family: inherit;
    line-height: 24px;
    vertical-align: middle;
    color: inherit;
}
h1 {
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
p,span{
	font-size: 14px;
	line-height: 24px;
}
b,strong{
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}
i,em{
	font-size: 14px;
	line-height: 24px;
}
small{
	font-size: 12px;
	line-height: 24px;
}
br{
	display: block;
	line-height:22px;
}
.ta_right{
	text-align: right !important;
}
.ta_left{
	text-align: left !important;
}
.ta_center{
	text-align: center !important;
}

.table_right{
	text-align: right;
}
.table_left{
	text-align: left;
}
.table_center{
	text-align: center;
}
.cololr_green{
	color: #48B49B;
}
.cololr_red{
	color: #F2254C;
}
.cololr_blue{
	color: #2D6CA2;
}
.cololr_gray3{
	color: #333;
}
.cololr_gray6{
	color: #666;
}
.cololr_gray9{
	color: #999;
}

.cololr_red{
	color: #F2254C;
}
.fz_10{
	font-size: 10px;
}
.fz_12{
	font-size: 12px;
}
.fz_14{
	font-size: 14px;
}
.fz_16{
	font-size: 16px;
}
.fz_18{
	font-size: 18px;
}
.fz_20{
	font-size: 20px;
}
.fz_22{
	font-size: 22px;
}
.fz_24{
	font-size: 24px;
}
.fz_26{
	font-size: 26px;
}
.fz_28{
	font-size: 28px;
}
.fz_30{
	font-size: 30px;
}
