.finish .head {
  margin: 10px;
  line-height: 140%;
  font-size: 0.9em;
}
.finish .head .head-main {
  zoom: 1;
}
.finish .head .head-main:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.finish .head .icon-success:before {
  float: left;
}
.finish .head h1 {
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-left: 60px;
  line-height: 140%;
  color: #777777;
}
.finish .head h2 {
  line-height: 140%;
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #777777;
}
.finish .head .point {
  font-size: 1.2em;
  color: #be252c;
}
.finish .head .price {
  color: #be252c;
  font-size: 1.2em;
  margin: 0 5px;
}
.finish .head .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.finish .debitnote .debitnote-pic {
  width: 100%;
}
.finish .debitnote .input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.finish .list li {
  zoom: 1;
}
.finish .list li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.finish .list li .attr {
  text-align: right;
  margin-right: 0px;
}
.finish .list li .attr {
  zoom: 1;
}
.finish .list li .attr:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.finish .list li .attr .count {
  color: gray;
}
.finish .list li .attr .price {
  text-align: left;
  margin-left: 10px;
  min-width: 80px;
  display: inline-block;
}
.finish .list li .attr .dollar {
  font-size: 0.7em;
  margin-right: 5px;
}
.finish .list li .name {
  color: gray;
}
.finish .list .main {
  font-size: 0.8em;
  line-height: 140%;
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
}
.finish .list .main:first-child {
  padding-top: 0;
}
.finish .list .main:last-child {
  border-bottom: none;
}
.finish .list .main .group-prod {
  color: gray;
  margin-top: 10px;
}
.finish .list .main .group-prod li {
  margin-bottom: 7px;
}
.finish .list .sub {
  margin-top: -12px;
  background: white;
}
.finish .explain h2 {
  line-height: 140%;
  font-size: 0.8em;
  margin: 10px 0;
}
.finish .explain p {
  color: #777777;
  line-height: 140%;
  font-size: 0.8em;
  padding: 5px 0;
  margin-left: 10px;
}
.finish .explain p.tip {
  margin: 5px 0;
  color: black;
}
.finish .explain a {
  color: #1180c2;
  text-decoration: underline;
}
