h2 {
  margin: 5px 0 10px;
  font-size: 0.9em;
  line-height: 140%;
}

.rule li {
  font-size: 0.8em;
  line-height: 140%;
  margin: 5px 5px 5px 24px;
  color: #777777;
  list-style: decimal;
}

.inside-service {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  z-index: 5;
  height: 50px;
}
.inside-service h1 {
  text-align: center;
  font-size: 0.6em;
  padding: 2px 0;
}
.inside-service .actions {
  border-top: 1px solid #cccccc;
  background: white;
}
.inside-service .actions {
  zoom: 1;
}
.inside-service .actions:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.inside-service .actions li {
  float: left;
  width: 50%;
  padding: 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inside-service .actions li a {
  color: black;
  display: block;
}

.footer {
  padding-bottom: 15px;
}
