div.booksItem.selling
 .bookscover
   img(src="../assets/img/book_1.jpg")
 .booksInfo
  .booksStatus
   span.t 已發行平台: 
   span.c Google Play ｜Amazon ｜iBooks
  .boooksName
   p.n
    a(href='google.com')不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、
   p.p 99元
 .booksPreview
  .icon_editor
  p.n 預覽 / 修改
  p.t 2015-04-02 已修改
 .booksSellSetting
  .icon_selling
  p.n 銷售設定
  p.t 2015-04-08 開始銷售
 .booksFnc
  .export 
   .icon_22_export
   p 匯出
  .delete 
   .icon_22_unsale
   p 刪除

div.booksItem.selling
 .bookscover
  img(src="../assets/img/book_1.jpg")
 .booksInfo
  .booksStatus
   span.t 已發行平台: 
   span.c Google Play ｜Amazon ｜iBooks
  .boooksName
   p.n
    a(href='google.com')不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、
   p.p 99元
 .booksPreview
  .icon_editor
  p.n 預覽 / 修改
  p.t 2015-04-02 已修改
 .booksSellSetting
  .icon_selling
  p.n 銷售設定
  .tips.animated.fadeInUp
   .icon_w_prompt.floatLeft
   .tipsInner.floatLeft
    p 檔案已修改 
    p 是否要更新銷售設定？
 .booksFnc
  .export 
   .icon_22_export
   p 匯出
  .delete 
   .icon_22_unsale
   p 刪除

div.booksItem.unPublish
 .bookscover
  img(src="../assets/img/book_default.jpg")
 .booksInfo
  .booksStatus
   span.t 已發行平台: 
   span.c 尚未發佈
  .boooksName
   p.n
    a(href='google.com')不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、攝影
   p.p 99元
 .booksPreview
  .icon_editor
  p.n 預覽 / 修改
  p.t 2015-04-02 已修改
 .booksSellSetting
  .icon_selling
  p.n 銷售設定
  .tips.animated.fadeInUp
   .icon_w_prompt.floatLeft
   .tipsInner.floatLeft
    p 尚未設定價格 
 .booksFnc
  .export 
   .icon_22_export
   p 匯出
  .delete 
   .icon_22_delete
   p 刪除

div.booksItem.fail
 .bookscover
  img(src="../assets/img/book_default.jpg")
 .booksInfo
  .booksStatus
   span.t 已發行平台: 
   span.c 轉檔失敗
  .boooksName
   p.n
    a(href='google.com')不拘創作形式，一場融合手繪、攝影
   p.p 99元
 .booksPreview
  .icon_editor
  p.n 預覽 / 修改
  p.t 2015-04-02 已修改
 .booksSellSetting
  .icon_selling
  p.n 銷售設定
  p.t 2015-04-02 已修改
 .booksFnc
  .export 
   .icon_22_export
   p 匯出
  .delete 
   .icon_22_delete
   p 刪除

div.booksItem.uplod
 .bookscover
  img(src="../assets/img/book_default.jpg")
 .booksInfo
  .booksStatus
   span.t 已發行平台: 
   span.c 轉檔中
  .boooksName
   p.n
    a(href='google.com')不拘創作形式，一場融合手繪、攝影
   p.p 99元
 .booksPreview
  .icon_editor
  p.n 預覽 / 修改
  p.t 2015-04-02 已修改
 .booksSellSetting
  .icon_selling
  p.n 銷售設定
  p.t 2015-04-02 已修改
 .booksFnc
  .export 
   .icon_22_export
   p 匯出
  .delete 
   .icon_22_delete
   p 刪除
div.booksItemEnd
 span 共 8 本書籍
 a(class='btnAddBook floatRight' href='google.com') 新增書本