doctype html
html
  include _frame/__htmlHead.jade
  body
    include _frame/__globalheader.jade
    //- .localNav
    //-  .container
    //-   .breadcrumbs
    //-    a(href='booksList.html') 首頁
    //-    span="｜書籍資料已發佈成功"
    include _frame/_booksEdit_Step3.jade
    include _frame/_selectList-inner.jade