.localNav{
	width: 100%;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: solid 1px #e4e4e4;
	.breadcrumbs{
		font-size: 13px;
	}
	.navButton{
		text-align: right;
		 &> .btn{
			height: 40px;
			padding: 0px 30px;
			line-height: 40px;
			margin: -2px 0px 0 2px;
		}

	}
}