body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:100px;
  color:#F1F1F1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:500px;
  top:236px;
  width:636px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:39px;
}
#u3 {
  position:absolute;
  left:10px;
  top:12px;
  width:616px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:500px;
  top:132px;
  width:636px;
  height:45px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:632px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:500px;
  top:176px;
  width:636px;
  height:60px;
  text-decoration:underline;
  color:#4277A8;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:620px;
  top:189px;
  width:310px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:623px;
  top:191px;
  width:307px;
  height:31px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:31px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:920px;
  top:189px;
  width:110px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:910px;
  top:191px;
  width:10px;
  height:32px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u14 {
  position:absolute;
  left:22px;
  top:132px;
  width:458px;
  height:648px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:648px;
}
#u15 {
  position:absolute;
  left:2px;
  top:316px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:500px;
  top:275px;
  width:636px;
  height:59px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:59px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:632px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:500px;
  top:326px;
  width:636px;
  height:454px;
  text-decoration:underline;
  color:#4277A8;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:454px;
}
#u19 {
  position:absolute;
  left:2px;
  top:219px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:569px;
  top:350px;
  width:395px;
  height:342px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:342px;
}
#u21 {
  position:absolute;
  left:2px;
  top:163px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:964px;
  top:350px;
  width:96px;
  height:344px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:344px;
}
#u23 {
  position:absolute;
  left:2px;
  top:164px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:530px;
  top:710px;
  width:590px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u25 {
  position:absolute;
  left:624px;
  top:730px;
  width:26px;
  height:30px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.disabled {
}
#u25.disabled {
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:665px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u27_img.disabled {
}
#u27.disabled {
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:708px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u29_img.disabled {
}
#u29.disabled {
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:750px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u31_img.disabled {
}
#u31.disabled {
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:791px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u33_img.disabled {
}
#u33.disabled {
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:530px;
  top:730px;
  width:78px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u35_img.disabled {
}
#u35.disabled {
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:833px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u37_img.disabled {
}
#u37.disabled {
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:874px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_img.disabled {
}
#u39.disabled {
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:916px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_img.disabled {
}
#u41.disabled {
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:959px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_img.disabled {
}
#u43.disabled {
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1000px;
  top:730px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u45_img.disabled {
}
#u45.disabled {
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1042px;
  top:730px;
  width:78px;
  height:30px;
  color:#4277A8;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_img.disabled {
}
#u47.disabled {
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:972px;
  top:800px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:798px;
  top:800px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#2D6CA2;
  line-height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:79px;
  top:73px;
  width:53px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:63px;
  top:74px;
  width:10px;
  height:12px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u62 {
  position:absolute;
  left:153px;
  top:73px;
  width:53px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:138px;
  top:74px;
  width:10px;
  height:12px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u65 {
  position:absolute;
  left:1118px;
  top:20px;
  width:21px;
  height:19px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1146px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1047px;
  top:18px;
  width:22px;
  height:25px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1018px;
  top:10px;
  width:10px;
  height:40px;
}
#u71_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u71_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u71_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u72 {
  position:absolute;
  left:1060px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u73 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1098px;
  top:10px;
  width:10px;
  height:40px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u75 {
  position:absolute;
  left:536px;
  top:935px;
  width:722px;
  height:15px;
  color:#A8B1BB;
  text-align:right;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:15px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:909px;
  width:1258px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:1241px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1258px;
  height:1px;
}
