doctype html
html
  include _frame/__htmlHead.jade
  body
    include _frame/__globalheader.jade
    .localNav
     .container
      .breadcrumbs
       a(href='booksList.html') 首頁
       span="｜修改書籍介紹"
    include _frame/_booksEdit.jade
    include _frame/_selectList-inner.jade
    include _frame/__footer.jade