.main-product{
	.bottom-buy{
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		background: $blue;
		color: yellow;
		display: none;
		z-index: 10;
		li{
			float: left;
			width: 25%;
			text-align: center;
			padding: 7px 0;
			&:first-child{
				width: 12%;
				margin: 0 2%;
			}
			&:nth-child(3){
				margin-left: 8%;
			}
			.button{
				width: 100%;
			}
		}
		.price{
			font-size: 1.3em;
			margin-top: 10px;
		}
	}
}

//large screen
@include setMediaQueries(pc){
	.main-product{

	}
}

//pad
@include setMediaQueries(pad){
	.main-product{
		.bottom-buy{
			display: block;
		}
	}
}

//mobile
@include setMediaQueries(phone){
	.main-product{
		.bottom-buy{
			display: block;
		}
	}
}