.sellBooksList.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
  h2.ta_left 最新發佈書籍
  ul.sellBooksList_UL
    li(pid='0')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books1.jpg')
        span.bookName  我是書名我是書名我是書名我是書名我是書名我是書名我是書名
    li(pid='1')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books2.jpg')
        span.bookName 我是書名
    li(pid='2')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books3.jpg')
        span.bookName  我是書名
    li(pid='3')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books4.jpg')
        span.bookName  我是書名
    li(pid='4')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books5.jpg')
        span.bookName  我是書名
    li(pid='5')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books6.jpg')
        span.bookName  我是書名
    li(pid='6')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books7.jpg')
        span.bookName  我是書名
    li(pid='7')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books8.jpg')
        span.bookName  我是書名
    li(pid='8')
      img(src='http://static.bestbook.com/cover_template/thumbnail/books9.jpg')
      span.bookName  我是書名
    li(pid='9')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books10.jpg')
        span.bookName  我是書名
    li(pid='10')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books11.jpg')
        span.bookName  我是書名
    li(pid='11')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books12.jpg')
        span.bookName  我是書名我是書名我是書名我是書名我是書名我是書名我是書名
    li(pid='12')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books13.jpg')
        span.bookName  我是書名
    li(pid='13')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books14.jpg')
        span.bookName  我是書名
    li(pid='14')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books15.jpg')
        span.bookName  我是書名
    li(pid='15')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books17.jpg')
        span.bookName  我是書名
    li(pid='8')
      img(src='http://static.bestbook.com/cover_template/thumbnail/books9.jpg')
      span.bookName  我是書名
    li(pid='9')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books10.jpg')
        span.bookName  我是書名
    li(pid='10')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books11.jpg')
        span.bookName  我是書名
    li(pid='11')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books12.jpg')
        span.bookName  我是書名我是書名我是書名我是書名我是書名我是書名我是書名
    li(pid='12')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books13.jpg')
        span.bookName  我是書名
    li(pid='13')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books14.jpg')
        span.bookName  我是書名
    li(pid='14')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books15.jpg')
        span.bookName  我是書名
    li(pid='15')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books17.jpg')
        span.bookName  我是書名
    li(pid='8')
      img(src='http://static.bestbook.com/cover_template/thumbnail/books9.jpg')
      span.bookName  我是書名
    li(pid='9')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books10.jpg')
        span.bookName  我是書名
    li(pid='10')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books11.jpg')
        span.bookName  我是書名
    li(pid='11')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books12.jpg')
        span.bookName  我是書名我是書名我是書名我是書名我是書名我是書名我是書名
    li(pid='12')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books13.jpg')
        span.bookName  我是書名
    li(pid='13')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books14.jpg')
        span.bookName  我是書名
    li(pid='14')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books15.jpg')
        span.bookName  我是書名
    li(pid='15')
      a(href='booksPage.html')
        img(src='http://static.bestbook.com/cover_template/thumbnail/books17.jpg')
        span.bookName  我是書名