.ccjs-card{
	.line{
		position: relative;
		margin-bottom: 10px;
		@include clearfix;
		input, select{
			width: 100%;
			border: 1px solid $gray;
			padding: 5px;
			margin: 0;
			background: white;
			font-size: 1em;
			line-height: 1.35em;
			@include box-sizing(border-box);
		}
	}
	.number-left{
		float: left;
		width: 70%;
		padding-right: 10px;
		@include box-sizing(border-box);
	}
	.number-right{
		float: left;
		width: 30%;
		.ccjs-csc{
			width: 60px;
		}
		button{
			float: right;
			height: 30px;
			width: 30px;
			background: white;
			border: 1px solid $gray;
			@include box-sizing(border-box);
		}
	}
	label, legend{
		display: block;
		margin-bottom: 5px;
	}
	.name-left{
		float: left;
		width: 49%;
		margin-right: 1%;
		@include box-sizing(border-box);
	}
	.ccjs-expiration{
		select{
			width: 48%;
		}
	}
	.ccjs-hidden-card-type{
		display: none;
	}
	.ccjs-type-read-only{
		color: $dark_gray;
	}
}