doctype html
html
  include ../frame/__htmlHead.jade
  body
    include ../frame/__globalheader.jade
    .localNav
      .container
        .breadcrumbs
          a(href='google.com') 首頁
          span="｜書籍介紹編輯"
    include ../frame/_booksPage.jade
    include ../frame/__footer.jade
