/* Loading Progress Bar */
.meter {
	position:relative;
	display:inline-block;
	min-width: 96%;
	height:10px;
	padding:0px;
	box-sizing: content-box;	
	overflow: hidden;
	background:#ccc;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5),1px 1px 0 #fff;
	-moz-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5),1px 1px 0 #fff;
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5),1px 1px 0 #fff;
}
.meter > span {
	display:block;	
	position:relative;
	height:10px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow: hidden;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow:1px 0 3px rgba(0,0,0,0.5);
	-moz-box-shadow:1px 0 3px rgba(0,0,0,0.5);
	box-shadow:1px 0 3px rgba(0,0,0,0.5);
	border:solid 1px;
}
.meter span:after {
	display:block;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	/*background:url(../img/LoadingBarBG.png);*/
	content: "";
	z-index: 1;
}
.meter > span {
	animation: move 0.5s linear infinite;
	-moz-animation: move 0.5s linear infinite;
	-webkit-animation: move 0.5s linear infinite;
}
.gray > span {
	border-color: #4d5c65;
	background:url(../img/LoadingBarBG.png) #c2c9cd; /* Old browsers */
	background:url(../img/LoadingBarBG.png), -moz-linear-gradient(top,  #c2c9cd 0%, #72828b 100%); /* FF3.6+ */
	background:url(../img/LoadingBarBG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2c9cd), color-stop(100%,#72828b)); /* Chrome,Safari4+ */
	background:url(../img/LoadingBarBG.png), -webkit-linear-gradient(top,  #c2c9cd 0%,#72828b 100%); /* Chrome10+,Safari5.1+ */
	background:url(../img/LoadingBarBG.png), -o-linear-gradient(top,  #c2c9cd 0%,#72828b 100%); /* Opera 11.10+ */
	background:url(../img/LoadingBarBG.png), -ms-linear-gradient(top,  #c2c9cd 0%,#72828b 100%); /* IE10+ */
	background:url(../img/LoadingBarBG.png), linear-gradient(to bottom,  #c2c9cd 0%,#72828b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c9cd', endColorstr='#72828b',GradientType=0 ); /* IE6-9 */
}
.green > span {
	border-color:#61913f;
	background:url(../img/LoadingBarBG.png) #c2e09f; /* Old browsers */
	background:url(../img/LoadingBarBG.png), -moz-linear-gradient(top,  #c2e09f 0%, #72b922 100%); /* FF3.6+ */
	background:url(../img/LoadingBarBG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2e09f), color-stop(100%,#72b922)); /* Chrome,Safari4+ */
	background:url(../img/LoadingBarBG.png), -webkit-linear-gradient(top,  #c2e09f 0%,#72b922 100%); /* Chrome10+,Safari5.1+ */
	background:url(../img/LoadingBarBG.png), -o-linear-gradient(top,  #c2e09f 0%,#72b922 100%); /* Opera 11.10+ */
	background:url(../img/LoadingBarBG.png), -ms-linear-gradient(top,  #c2e09f 0%,#72b922 100%); /* IE10+ */
	background:url(../img/LoadingBarBG.png), linear-gradient(to bottom,  #c2e09f 0%,#72b922 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2e09f', endColorstr='#72b922',GradientType=0 ); /* IE6-9 */
}
.blue > span {
	border-color:#009DD9;
	background:url(../img/LoadingBarBG.png) #009DD9; /* Old browsers */
	background:url(../img/LoadingBarBG.png), -moz-linear-gradient(top,  #7DAED8 0%, #009DD9 100%); /* FF3.6+ */
	background:url(../img/LoadingBarBG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7DAED8), color-stop(100%,#009DD9)); /* Chrome,Safari4+ */
	background:url(../img/LoadingBarBG.png), -webkit-linear-gradient(top,  #7DAED8 0%,#009DD9 100%); /* Chrome10+,Safari5.1+ */
	background:url(../img/LoadingBarBG.png), -o-linear-gradient(top,  #7DAED8 0%,#009DD9 100%); /* Opera 11.10+ */
	background:url(../img/LoadingBarBG.png), -ms-linear-gradient(top,  #7DAED8 0%,#009DD9 100%); /* IE10+ */
	background:url(../img/LoadingBarBG.png), linear-gradient(to bottom,  #7DAED8 0%,#009DD9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7DAED8', endColorstr='#009DD9',GradientType=0 ); /* IE6-9 */
}
.yellow > span {
	border-color:#e78200;
	background:url(../img/LoadingBarBG.png) #ffdf99; /* Old browsers */
	background:url(../img/LoadingBarBG.png), -moz-linear-gradient(top,  #ffdf99 0%, #ffb414 100%); /* FF3.6+ */
	background:url(../img/LoadingBarBG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdf99), color-stop(100%,#ffb414)); /* Chrome,Safari4+ */
	background:url(../img/LoadingBarBG.png), -webkit-linear-gradient(top,  #ffdf99 0%,#ffb414 100%); /* Chrome10+,Safari5.1+ */
	background:url(../img/LoadingBarBG.png), -o-linear-gradient(top,  #ffdf99 0%,#ffb414 100%); /* Opera 11.10+ */
	background:url(../img/LoadingBarBG.png), -ms-linear-gradient(top,  #ffdf99 0%,#ffb414 100%); /* IE10+ */
	background:url(../img/LoadingBarBG.png), linear-gradient(to bottom,  #ffdf99 0%,#ffb414 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf99', endColorstr='#ffb414',GradientType=0 ); /* IE6-9 */
}
.red > span {
	border-color:#be141a;
	background:url(../img/LoadingBarBG.png) #f0a3a3; /* Old browsers */
	background:url(../img/LoadingBarBG.png), -moz-linear-gradient(top,  #f0a3a3 0%, #f42323 100%); /* FF3.6+ */
	background:url(../img/LoadingBarBG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0a3a3), color-stop(100%,#f42323)); /* Chrome,Safari4+ */
	background:url(../img/LoadingBarBG.png), -webkit-linear-gradient(top,  #f0a3a3 0%,#f42323 100%); /* Chrome10+,Safari5.1+ */
	background:url(../img/LoadingBarBG.png), -o-linear-gradient(top,  #f0a3a3 0%,#f42323 100%); /* Opera 11.10+ */
	background:url(../img/LoadingBarBG.png), -ms-linear-gradient(top,  #f0a3a3 0%,#f42323 100%); /* IE10+ */
	background:url(../img/LoadingBarBG.png), linear-gradient(to bottom,  #f0a3a3 0%,#f42323 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a3a3', endColorstr='#f42323',GradientType=0 ); /* IE6-9 */
}
.fail > span {
	border-color:#be141a;
	background:url(../img/LoadingBarBG.png) #FB6E52; /* Old browsers */
	background:url(../img/LoadingBarBG.png), -moz-linear-gradient(top,  #FB9A89 0%, #FB6E52 100%); /* FF3.6+ */
	background:url(../img/LoadingBarBG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FB6E52), color-stop(100%,#FB9A89)); /* Chrome,Safari4+ */
	background:url(../img/LoadingBarBG.png), -webkit-linear-gradient(top,  #FB9A89 0%,#FB6E52 100%); /* Chrome10+,Safari5.1+ */
	background:url(../img/LoadingBarBG.png), -o-linear-gradient(top,  #FB9A89 0%,#FB6E52 100%); /* Opera 11.10+ */
	background:url(../img/LoadingBarBG.png), -ms-linear-gradient(top,  #FB9A89 0%,#FB6E52 100%); /* IE10+ */
	background:url(../img/LoadingBarBG.png), linear-gradient(to bottom,  #FB9A89 0%,#FB6E52 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB9A89', endColorstr='#FB6E52',GradientType=0 ); /* IE6-9 */
}
@-webkit-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 8px 0px; }
}
@-moz-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 8px 0px; }
}
@-ms-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 8px 0px; }
}
@-o-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 8px 0px; }
}
@keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 8px 0px; }
}


