body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:164px;
  width:1260px;
  height:1000px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:1000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:492px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:189px;
  width:1260px;
  height:970px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:970px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:377px;
  top:10px;
  width:434px;
  height:895px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:895px;
}
#u4 {
  position:absolute;
  left:2px;
  top:440px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:790px;
  top:115px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:406px;
  top:122px;
  width:373px;
  height:665px;
  font-size:16px;
  line-height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:665px;
}
#u8 {
  position:absolute;
  left:15px;
  top:20px;
  width:343px;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:970px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:397px;
  top:-190px;
  width:434px;
  height:895px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:895px;
}
#u10 {
  position:absolute;
  left:2px;
  top:440px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:287px;
  top:70px;
  width:655px;
  height:370px;
  font-size:16px;
  line-height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:370px;
}
#u12 {
  position:absolute;
  left:15px;
  top:20px;
  width:625px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:952px;
  top:70px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:970px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:172px;
  top:4px;
  width:871px;
  height:1234px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:1234px;
}
#u16 {
  position:absolute;
  left:2px;
  top:609px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1000px;
  top:115px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:280px;
  top:160px;
  width:650px;
  height:680px;
  font-size:16px;
  line-height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:680px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u2_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:970px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:191px;
  top:-170px;
  width:871px;
  height:1234px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:1234px;
}
#u22 {
  position:absolute;
  left:2px;
  top:609px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1146px;
  top:65px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:184px;
  top:90px;
  width:900px;
  height:680px;
  font-size:16px;
  line-height:36px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:680px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u2_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:970px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:130px;
  top:30px;
  width:1024px;
  height:800px;
  font-size:16px;
  line-height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:800px;
}
#u28 {
  position:absolute;
  left:20px;
  top:20px;
  width:984px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1140px;
  top:60px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:100px;
  color:#F1F1F1;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:12px;
  top:381px;
  width:57px;
  height:229px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:229px;
}
#u38 {
  position:absolute;
  left:2px;
  top:106px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1191px;
  top:381px;
  width:51px;
  height:229px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:229px;
}
#u40 {
  position:absolute;
  left:2px;
  top:106px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:79px;
  top:73px;
  width:53px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:63px;
  top:74px;
  width:10px;
  height:12px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u45_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u46 {
  position:absolute;
  left:153px;
  top:73px;
  width:82px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:138px;
  top:74px;
  width:10px;
  height:12px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u49 {
  position:absolute;
  left:1118px;
  top:20px;
  width:21px;
  height:19px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1146px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1047px;
  top:18px;
  width:22px;
  height:25px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1018px;
  top:10px;
  width:10px;
  height:40px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u56 {
  position:absolute;
  left:1060px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u57 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1098px;
  top:10px;
  width:10px;
  height:40px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u59 {
  position:absolute;
  left:536px;
  top:1185px;
  width:722px;
  height:15px;
  color:#A8B1BB;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:1159px;
  width:1258px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:1241px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1258px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:101px;
  width:1260px;
  height:78px;
  overflow:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u62_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u75 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u77 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u79 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u83 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u62_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u86 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u88 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u92 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u62_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u97 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u99 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u62_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u108 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u110 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u112 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u116 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u118 {
  position:absolute;
  left:1086px;
  top:110px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u119 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
