header.globalheader
	.container
		.logoWrap.col-phone-6.col-pad_v-3.col-pad_h-3.col-pc-4
			a(href='#')
				.logo
		.function.col-phone-6.col-pad_v-9.col-pad_h-9.col-pc-6
			.notices_btu
				span.icon_notices
				span.notice_tips 20
