doctype html
html
  include _frame/__htmlHead.jade
  body
    include _frame/__globalheader.jade
    //- .localNav
    //-  .container
    //-   .breadcrumbs
    //-    a(href='booksList.html') 首頁
    //-    span="｜銷售設定"
    include _frame/_booksEdit_Step1.jade
    include _frame/_selectList-inner.jade
    .scrollDialog
        .inner
            .icon_14_close
            h2.ta_center 出版品發行合約書
            .scrollFrame
                p 歡迎您 (即出版品的"作者或提供者"，以下簡稱"乙方") 與 "金舷國際文創事業有限公司"（以下簡稱為 "甲方"）合作，雙方茲就本合作相關說明及條款達成約定如下： 
                h4 第一條  定義
                p (一) 出版品：乙方以任何形式所提供甲方的作品/著作，包括但不限於“文字” (語文著作)、“圖片/畫作”(圖形/美術著作) 、“照片”(攝影著作) 、 “曲譜” (音樂著作) 、“影音”(錄音/視聽著作)等內容呈現的著作/作品，並以數位格式的 “電子書” 或/及紙本印刷的“紙本書”形式出版發行；
                p (二) 雲書(bestbook)：為甲方所建構經營的數位服務平台的名稱，網址為http://www.bestbook.com， 雲書使用者得於該平台進行網頁瀏覽及電子書的閱讀、出版品購買；
                p (三) 管理平台：雲書的管理後台，包括(但不限)「帳務管理平台」及「作者服務平台」等，由具管理權限者登入後進行相關內容、訊息及條件設定等項目管理；
                p (四) 轉檔：乙方出版品於管理平台進行檔案格式轉換。
                p (五) 上架：乙方將出版品上傳至管理平台並完成轉檔後，同意提供雙方約定平台之網路使用者閱讀、購買之行為；
                p (六) 下架：將已上架的出版品刪除或取消對前項平台之網路使用者提供閱讀、購買之同意； 
                p (七) 委託發行：乙方委託甲方將出版品置於雙方約定之第三方平台發行。
                p (八) 節錄編輯：就出版物內容進行擷取與編排。

                h4 第二條  合作方式
                p (一) 雙方同意由乙方將其出版品，委託甲方在雲書平台上架、發行、閱讀與銷售。
                p (二) 合約期間內，乙方可自行設定登入帳號密碼、或由甲方提供予乙方管理平台之帳戶密碼，供乙方隨時登入管理平台，自行進行出版品管理，包括出版品上傳、上架、下架，決定(點選)出版品售價、選定授權銷售區域及其他的銷售條件等。
                p (三) 乙方若自行提供紙本書，得經由甲方或甲方事前同意之供他方平台展示或銷售，乙方應與該他方平台另行訂立相關合約，明確規範相關權利義務，且不得影響本合約的履行。
                p (四) 乙方可透過甲方之管理平台委託及授權甲方代為發佈、上架其電子書於其它第三方平台，乙方同意相關之上架、發行等規定須依照該平台相關規定及甲方與該平台簽訂之合約辦理。

                h4 第三條  授權內容、地區與授權期間
                p (一) 乙方委託並授權甲方於本合約有效期間為執行本合約事項之必要範圍內，得就乙方於管理平台點選/設定的全球銷售/授權區域內，甲方或甲方得授權第三方平台得對出版品進行重製、轉檔、節錄編輯、公開發表、公開傳輸、公開播送、公開口述及發行、銷售。甲方並得經乙方同意代為印製紙本書，其相關收費事宜另行約定之。
                p (二) 除雙方另有約定外，每一出版品之授權期間，自該出版品上傳起，至出版品下架為止；如於下架前已接受的出版品訂閱、購買，該部分出版品的授權期間則展延至該訂閱、購買處理完成為止。.
                p (三) 乙方同意授權甲方將出版品之呈現方式依上架銷售地區之需求或法令做變更，如將繁體字改為簡體字/英文字等。
                p (四) 乙方同意授權甲方得將出版品之上架發行、銷售於甲方合作對象之網站為宣傳相關之行為，或與該網站所售物品合作併同以優惠價格銷售，惟所採優惠價格應經乙方之同意。
                p (五) 除雙方另有約定外，本合約授權為非專屬授權。

                h4 第四條  通知方式及保管責任
                p (一) 本合約內容的變更調整，甲方得經由管理平台或電信系統通知乙方；該通知於其上載於管理平台或發送時視為已送達乙方；乙方若不同意之後的合約內容變更調整，須於上載於管理平台時或發送通知予乙方之時起算十日內，另以電子郵件向甲方通知終止本合約。
                p (二) 乙方因本合作而設定之管理平台的帳號及專用密碼，乙方應善盡保管及保密責任；該組帳號及專用密碼(包括由乙方自設密碼)於管理平台登入後之行為，均視為乙方所為。

                h4 第五條  售價與金額分配比例
                p (一) 電子書:即數位格式之出版品，由乙方決定售價，以該電子書銷售後並已完成收款之金額（扣除退貨），為實際收取價金；由乙方取得該實際收取價金之70%為乙方銷售費用，甲方取得實際收取價金之10%為報酬。惟雙方另有約定者，不在此限。
                p (二) 委託發行:乙方若有委託甲方發行電子書至其他平台（即第二條第（四）款所指），發行條件及金額分配比例等應依該平台規定，並以電子書銷售後並已完成收款之金額扣除平台作業系統(如iOS、Android等平台作業系統)之相關費用後為實際收取價金；雙方並同意以該實際收取價金之70%為乙方銷售費用，甲方取得實際收取價金之10%為報酬，並由甲方自本項委託發行所代收之實收款項中扣除委託報酬後支付乙方。惟雙方另有約定者，不在此限。
                p (三) 乙方委託甲方代為印製的紙本:除前述的報酬外，其餘外加費用(如印刷費跟物流費等相關費用)由甲方向消費者收取，不列入前述之拆帳比例，相關費用計算方式，雙方另定之。

                h4 第六條  帳務處理
                p (一) 乙方得隨時登入管理平台之帳務系統核對銷售出版品產生之款項，若有疑義，乙方應於各日款項上線之次日起二工作天內，向甲方提出覆核之要求，逾期未提出視為無異議。
                p (二) 結算：甲方於每月月底結算上月整月所產生之乙方銷售費用，乙方每月銷售費用應以於雲書網站銷售及第三方平台銷售之訂單成立且無退貨、取消者為基準，毋須等待第三方平台將款項匯給甲方，甲方即先行於結帳日結算稿費予乙方。乙方得自行登入網站核對，結算完後之次日起二工作天內，向甲方提出覆核之要求，逾期未提出視為無異議。如果匯率差異，依照甲方公告之國際匯率計算，金額四捨五入至整數位。
                p (三) 請款及撥款：乙方需提出的下列相關資料予甲方以辦理請款：

                p 1.  乙方須依照甲方之「雲書付款說明」頁面，所載須備資料憑之向甲方請款。
                p 2.  甲方於每月的二十五日將乙方已依前款完成請款之銷售費用匯予乙方，遇假日則順延至次一工作日。前述乙方銷售費用之款項將由甲方扣除「必要費用」後撥付乙方；必要費用包括：金流手續費、所得稅、二代健保費、國內匯款手續費30元或其他政府法定或核可之應扣款項，包括但不限於可能之稅費及爭議款項等。每次的實際匯款金額需大於新台幣30元。
                p 3.  以上資訊若有錯誤，待乙方更正資料後，甲方得重新匯款，且甲方毋需負擔因資料錯誤而造成撥款延誤之利息費用。

                p (四) 如乙方有款項自可結算日起二個年度內未與甲方進行帳款結算，甲方得於該二年度屆滿之最後一工作日(年度屆滿日)前以書面(含電郵)限期通知乙方結算，乙方期滿未予結算或回應，甲方得將該未結算之應付乙方款項捐贈予公益團體，之後乙方不得再以任何理由要求甲方辦理結算或支付前述帳款。

                h4 第七條  保證
                p (一) 乙方就上傳至雲書平台及上架之出版品，應保證該出版品於管理平台所設定之銷售地區擁有合法之著作權及履行本契約應具備之權利，或者已取得著作權人之所有相關授權；乙方並確認該出版品符合相關法令、絕無侵害第三人之著作權或其他權利。
                p (二) 乙方並保證，甲方在雲書上發行上述出版品之權利，不受第三方之影響；乙方之履行本合約義務不會違反其與第三人間之任何合約規定。
                p (三) 乙方應善盡注意義務確認出版品之內容並未違反授權銷售地區/國家的法令、社會秩序及文化風俗。乙方並同意甲方或第三方平台得依銷售地區/國家的法令辦理出版品之上架、銷售、下架及分級制分類處理。

                h4 第八條  行銷

                p (一) 為廣告促銷出版品之需要，乙方同意甲方得就單一出版品擷取不超過(含)10％內容篇幅之內容，刊載於雲書或相關集團之平台上。於第二條第四款之情，擷取之篇幅則依據各該第三方平台之規定及甲方與該平台簽定之合約辦理。
                p (二) 為促銷出版品之需要，乙方同意甲方得提供消費者或客戶免費試閱，但同一出版品開放試閱之篇幅以其內容之10％為上限，超過該比例應另行取得乙方同意。於第二條第四款之情，擷取之篇幅則依據各該第三方平台之規定之合約辦理。
                p (三) 甲方如欲就出版品進行優惠價格促銷，應另行取得乙方同意。

                h4 第九條  爭議處理
                p (一) 出版品如因任何人之主張、請求或訴訟，或因法令規定，或主管機關之調查、處分等，或經甲方認定有違法之虞時，甲方得暫停發行該出版品並予以下架及為一切保全程序。甲方並得事先通知乙方，或者於下架後儘速通知乙方。
                p (二) 乙方如認其無以上情事者，得檢具相關證明及說明文件通知甲方回復發行或上/下架。甲方於接獲前述通知後，將連絡檢舉人，但有無法連絡之情者不在此限。除檢舉人於接獲甲方上開通知之次日起十個工作日內提出已對乙方訴訟之證明或有其他甲方認定有違法之虞者甲方不負回復之義務外，檢舉人未依前述規定提出訴訟之證明或其他主張/陳述，甲方得於轉送回復通知之次日起十四個工作日內，回復發行或上下架。
                p (三) 甲方仍保留最終對出版品上架(含:回復上架)及下架的管理權利。

                h4 第十條  合約期間
                p (一) 本合約自乙方點選「同意」並回傳甲方時起生效。
                p (二) 本合約生效後，除有任一方提出終止合約之通知之情形外，合約持續有效。


                h4 第十一條  合約終止及效果
                p (一) 任一方如有故意損害他方商譽之言論或行為者，他方得不待催告逕行通知終止本合約之一部或全部。若乙方若有三次涉及侵權情事者，亦同。
                p (二) 除前項規定外，任一方如未履行本合約所定之義務，或者違反本合約之其他規定，並且經他方以書面(包括但不限於電子郵件與手機簡訊)訂定相當期限催告改正而期滿仍未完成改正時，他方得通知終止本合約之一部或全部。但違約情形客觀上無法改正者，他方得不待催告逕行終止合約。
                p (三) 本合約終止後，甲方應立即將出版品全數自雲書平台下架或通知第三方平台下架，不再銷售發行。但有本條以下第(四)項所定之情形者，甲方得於該項但書所定之必要限度內，保存出版品之電子檔。甲方或第三方平台對消費者於本合約終止前已成立的訂單仍照常銷售之。
                p (四) 在本合約終止前已購買出版品且付款完成之客戶(雲書使用者)，該客戶已下載之電子檔在本合約終止後不需刪除，甲方得在維護該客戶原訂閱讀權益及其售後服務之限度內，繼續對該客戶提供及傳輸電子檔，但該出版品為違法或侵權品不在此限。
                p (五) 特別約定：本合約第三條(授權)、第六條(帳務)、第十一條(合約終止及效果) 、第十二條(違約)及第十三條(保密條款)之規定，於本合約終止後仍繼續有效，至依各該條性質不再適用時為止。

                h4 第十二條  違約
                p (一) 任一方因不可抗力或不可歸責雙方之事由，而致無法履行或遲延履行本合約所定之義務者，不需負違約責任。
                p (二) 任一方如有違反本合約、違反相關法令或造成其他爭議，而造成他方蒙受任何損害，均須賠償他方因此所受之損害（包括但不限於合理律師費及進行訴訟所需之必要費用）；若是乙方違約，甲方並得以直接自應付給乙方款項中先扣抵或保留應付給乙方之款項至前述違約或爭議情形解除為止。

                h4 第十三條  保密條款
                p 任一方因履行本合約而知悉或接觸他方之任何有關經營、業務、技術、財務及其他方面的未公開之資料和資訊，均應保守秘密。除依法令或為履行本約外，不得作其他用途或提供給第三人。

                h4 第十四條  智慧財產權
                p (一) 甲方為本契約目的所提供之各種服務功能、程式等相關之所有權及智慧財產權(包  括但不限於閱讀器之製造技術與設計之專利權或著作權、電子書程式/格式之著作權、商標權等)均為甲方所有，乙方不得於甲方授權目的外範圍為使用或授權第三人使用。
                p (二) 乙方為本契約目的所提供出版品之所有權及智慧財產權(包括但不限於出版物之著作財產權、商標權等)均為乙方所有，甲方不得於乙方授權目的外範圍為使用或授權第三人使用。
                p (三) 雙方同意，就乙方經由甲方之管理平台或相關程式系統所轉置完成之電子書檔案，經甲方於管理平台同意供乙方免費/價購使用者，乙方免費/價購取得該電子書檔案之使用權，得於符合相關法令、誠實信用原則、公序良俗下為個人自由使用。

                h4 第十五條  其他
                p (一) 本合約經乙方(若乙方為未成年人，則由其法定代理人)於下方點選並回傳甲方時生效。
                p (二) 本合約內容若一部無效不影響他部分效力，合約之效力及解釋，應依中華民國之法律。若雙方無法協商解決而須訴訟時，雙方同意以台灣台北地方法院為第一審管轄法院。
            div.ta_right
              a(class='btn outLinebtn-navReport cancel' href='#') 關閉
              a(class='btn btn-navReport send' href='#') 接受