doctype html
html
  
  include _frame/__htmlHead.jade
  body
    include _frame/__globalheader.jade
    //- .localNav
    //-   .container
    //-     .breadcrumbs
    //-       a(href='booksList.html') 首頁
    //-       span="｜書籍介紹編輯"
    include _frame/_incomeSetting_3.jade
    include _frame/__footer.jade