body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:65px;
  color:#F1F1F1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-20px;
  top:55px;
  width:1277px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1277px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1189px;
  top:20px;
  width:21px;
  height:19px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1220px;
  top:20px;
  width:37px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1169px;
  top:10px;
  width:10px;
  height:40px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:1630px;
  width:1258px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:1241px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1258px;
  height:1px;
}
#u11 {
  position:absolute;
  left:-20px;
  top:531px;
  width:886px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:869px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:886px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:537px;
  width:866px;
  height:188px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:188px;
}
#u13 {
  position:absolute;
  left:2px;
  top:86px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:-13px;
  top:717px;
  width:879px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:862px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:879px;
  height:1px;
}
#u15 {
  position:absolute;
  left:15px;
  top:88px;
  width:415px;
  height:368px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:368px;
}
#u16 {
  position:absolute;
  left:2px;
  top:176px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:464px;
  top:159px;
  width:156px;
  height:15px;
  color:#AEAEAE;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:430px;
  top:88px;
  width:10px;
  height:433px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:416px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:433px;
}
#u20 {
  position:absolute;
  left:464px;
  top:92px;
  width:204px;
  height:21px;
  font-size:18px;
  color:#2D6CA2;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:464px;
  top:116px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:464px;
  top:138px;
  width:210px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:464px;
  top:200px;
  width:406px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:389px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:406px;
  height:1px;
}
#u27 {
  position:absolute;
  left:464px;
  top:311px;
  width:406px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:389px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:406px;
  height:1px;
}
#u28 {
  position:absolute;
  left:464px;
  top:285px;
  width:261px;
  height:15px;
  color:#AEAEAE;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:464px;
  top:221px;
  width:152px;
  height:21px;
  font-size:18px;
  color:#2D6CA2;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:464px;
  top:244px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:464px;
  top:264px;
  width:68px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:460px;
  top:331px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#2D6CA2;
  line-height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:543px;
  top:331px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#2D6CA2;
  line-height:24px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:462px;
  top:432px;
  width:165px;
  height:72px;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:72px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:40px;
  top:583px;
  width:800px;
  height:124px;
  font-size:14px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:124px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:40px;
  top:555px;
  width:65px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:865px;
  top:70px;
  width:370px;
  height:655px;
}
#u46_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:380px;
  height:665px;
}
#u47 {
  position:absolute;
  left:2px;
  top:320px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:848px;
  top:84px;
  width:20px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1116px;
  top:169px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1196px;
  top:179px;
  width:14px;
  height:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:893px;
  top:269px;
  width:142px;
  height:27px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:893px;
  top:165px;
  width:130px;
  height:40px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:887px;
  top:325px;
  width:322px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u59 {
  position:absolute;
  left:1116px;
  top:265px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1196px;
  top:275px;
  width:14px;
  height:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:893px;
  top:100px;
  width:156px;
  height:32px;
  color:#F52A4E;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:268px;
  top:1670px;
  width:722px;
  height:60px;
  color:#A8B1BB;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:60px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
