body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:65px;
  color:#F1F1F1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-20px;
  top:55px;
  width:1277px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1277px;
  height:1px;
}
#u5 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:63px;
  top:74px;
  width:10px;
  height:12px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u10 {
  position:absolute;
  left:-20px;
  top:1610px;
  width:1276px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:83px;
  top:73px;
  width:105px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1118px;
  top:20px;
  width:21px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1146px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1047px;
  top:18px;
  width:22px;
  height:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1018px;
  top:10px;
  width:10px;
  height:40px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u21 {
  position:absolute;
  left:1060px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1098px;
  top:10px;
  width:10px;
  height:40px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u24 {
  position:absolute;
  left:-20px;
  top:573px;
  width:1260px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1260px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:579px;
  width:1240px;
  height:188px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:188px;
}
#u26 {
  position:absolute;
  left:2px;
  top:86px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:-13px;
  top:759px;
  width:1253px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:1236px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1253px;
  height:1px;
}
#u28 {
  position:absolute;
  left:15px;
  top:130px;
  width:415px;
  height:368px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:368px;
}
#u29 {
  position:absolute;
  left:2px;
  top:176px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:464px;
  top:201px;
  width:156px;
  height:15px;
  color:#AEAEAE;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:430px;
  top:130px;
  width:10px;
  height:433px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:416px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:433px;
}
#u33 {
  position:absolute;
  left:464px;
  top:134px;
  width:204px;
  height:21px;
  font-size:18px;
  color:#2D6CA2;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:464px;
  top:158px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:464px;
  top:180px;
  width:210px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:464px;
  top:242px;
  width:406px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:389px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:406px;
  height:1px;
}
#u40 {
  position:absolute;
  left:464px;
  top:353px;
  width:406px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:389px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:406px;
  height:1px;
}
#u41 {
  position:absolute;
  left:464px;
  top:327px;
  width:261px;
  height:15px;
  color:#AEAEAE;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:464px;
  top:263px;
  width:152px;
  height:21px;
  font-size:18px;
  color:#2D6CA2;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:464px;
  top:286px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:464px;
  top:306px;
  width:68px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:460px;
  top:373px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#2D6CA2;
  line-height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:543px;
  top:373px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#2D6CA2;
  line-height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:462px;
  top:474px;
  width:165px;
  height:72px;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:72px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:57px;
  top:625px;
  width:1145px;
  height:124px;
  font-size:14px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:124px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:40px;
  top:597px;
  width:65px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:865px;
  top:112px;
  width:370px;
  height:461px;
}
#u59_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:380px;
  height:471px;
}
#u60 {
  position:absolute;
  left:2px;
  top:222px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:848px;
  top:126px;
  width:20px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1116px;
  top:211px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1196px;
  top:221px;
  width:14px;
  height:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:893px;
  top:311px;
  width:142px;
  height:27px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:893px;
  top:207px;
  width:130px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:887px;
  top:367px;
  width:322px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u72 {
  position:absolute;
  left:1116px;
  top:307px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u72_img.mouseOver {
}
#u72.mouseOver {
}
#u73 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1196px;
  top:317px;
  width:14px;
  height:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:893px;
  top:142px;
  width:156px;
  height:32px;
  color:#F52A4E;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1064px;
  top:779px;
  width:159px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u79 {
  position:absolute;
  left:2px;
  top:11px;
  width:155px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:898px;
  top:780px;
  width:164px;
  height:38px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#F52A4E;
  line-height:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:38px;
}
#u80_img.mouseOver {
}
#u80.mouseOver {
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
