.mainColumn
  .container
    .aboutPageTopWrap
      .aboutPageTopWrapBg
        img.banner(src='../assets/img/index/aboutPageBanner.jpg', alt='')
    .aboutInfo
      a(href='http://www.bestbook.com/') 雲書bestbook.com
      |  是一個面向全世界華人的電子書網站，我們的理念是：
      br
      |           　　1.價格自訂，作者得70%
      br
      |           　　2.作者擁有版權，隨時可以決定銷售與否
      br
      br
      a(href='http://www.bestbook.com/') 雲書
      |  希望出書，能像使用FB一樣簡單，作者只需要上傳Word/PDF/ePub檔，經過數分鐘時間，程式會將作品轉成排版優美、容易閱讀的電子書，呈現在千千萬萬的讀者面前，並且開始銷售。
      |           此外，
      a(href='http://www.bestbook.com/') 雲書
      | 跟作者一樣在乎電子書的品質，所以也提供了書籍封面設計、電子書模擬器及線上校稿等功能，希望讓每一本電子書精緻好讀。
      br
      br
      |           這一次我們先推出提供作家使用的Beta版，讓作家了解如何出書及流程，並且可以將自己的作品上架預備販售。
      |           正式版的付費機制即將於近期上線，您的電子書銷售價格由您決定，您也可以隨時上網查看銷售業績及獲得版費的收入。
      br
      br
      |           或許剛開始未臻完美，但我們會繼續努力，讓出書更容易。如果您有任何建議或想法，歡迎告訴我們，您的意見與指教將是我們成長的動力。
      br
      a(href='http://www.bestbook.com/') 雲書
      | 希望，出書，是一件簡單又愉快的事情。
      a.largeText(href='http://p.bestbook.com/') 立即出書
    .aboutSubInfo
      .aboutDecoLine
        img.banner(src='../assets/img/index/aboutDecoLineTop.jpg', alt='')
      h2 文字的感染力，不會被形式所拘泥
      p
        | 『書』是作者將心中的意念與畫面，經過千思百轉，幻化成文字，述說成故事，將感動向讀者一一道來。所以紙張 / Pad都可以是載體。
        | 透過文字閱讀，讀者對於作者敘述的畫面，彷彿歷歷在目：例如某次長途旅行時翻過蜿蜒山路後看到的清澈雲海、在千年古刹的靜謐中佇立的深秋楓紅、
        | 還有稚齡孩童望向父母時發出的真心微笑。電子書，透過網路與智慧型手機/平板的力量，快速及大範圍的接觸到更多讀者。
      .aboutDecoLine
        img.banner(src='../assets/img/index/aboutDecoLineBottom.jpg', alt='')
    .aboutFooter
      p
        | 雲書bestbook.com隸屬於
        a(href='http://www.uitox.com/') Uitox優達斯集團
        | ，我們希望將複雜的事情簡單化，
        br
        |           將繁瑣的出書成程序以電腦程式解決，讓作者能更專注於寫作，讓更多的好作品能夠被看見。
      p
        a.largeText(href='https://bestbook.typeform.com/to/U9dLCz') 歡迎與我們聯絡。
