div.booksItem.bookselling
  .booksInfo.col-phone-12.col-pad_v-12.col-pad_h-10.col-pc-10
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_1.jpg")
    .info
      .status
        small.tit 已發行平台: 
        small.c Google Play ｜Amazon ｜iBooks
      .name
        a(href='booksPage.html') 不拘創作形式
        p.p 99元
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 電子書預覽/修改
  .functions_pc.col-phone-12.col-pad_v-12.col-pad_h-2.col-pc-2
    a(class='btn setting' href='booksEdit_Step1.html') 銷售設定
    p.settingDec 2015/04/02 開始銷售
    .fnc
      .export
        span.icon_22_export
        span.dec 匯出
      .delete
        span.icon_22_unsale
        span.dec 下架
div.booksItem.bookselling
  .booksInfo.col-phone-12.col-pad_v-12.col-pad_h-10.col-pc-10
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_1.jpg")
    .info
      .status
        small.tit 已發行平台: 
        small.c Google Play ｜Amazon ｜iBooks
      .name
        a(href='booksPage.html') 不拘創作形式
        p.p 99元
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 電子書預覽/修改
  .functions_pc.col-phone-12.col-pad_v-12.col-pad_h-2.col-pc-2
    a(class='btn setting' href='booksEdit_Step1.html') 銷售設定
    p.settingDec 檔案已修改
      br
      | 是否要更新銷售設定？
    .fnc
      .export
        span.icon_22_export
        span.dec 匯出
      .delete
        span.icon_22_unsale
        span.dec 下架
div.booksItem.bookselling
  .booksInfo.col-phone-12.col-pad_v-12.col-pad_h-10.col-pc-10
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_1.jpg")
    .info
      .status
        small.tit 已發行平台: 
        small.c Google Play ｜Amazon ｜iBooks
      .name
        a(href='booksPage.html')  不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪
        p.p 99元
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 電子書預覽/修改
  .functions_pc.col-phone-12.col-pad_v-12.col-pad_h-2.col-pc-2
    a(class='btn setting' href='booksEdit_Step1.html') 銷售設定
    p.settingDec 2015/04/02 開始銷售
    .fnc
      .export
        span.icon_22_export
        span.dec 匯出
      .delete
        span.icon_22_unsale
        span.dec 下架
div.booksItem.bookunPublish
  .booksInfo.col-phone-12.col-pad_v-12.col-pad_h-10.col-pc-10
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_default.jpg")
    .info
      .status
        small.tit 書本狀態: 
        small.c 尚未發佈
      .name
        a(href='booksPage.html') 不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、
        p.p 尚未發佈
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 電子書預覽/修改
  .functions_pc.col-phone-12.col-pad_v-12.col-pad_h-2.col-pc-2
    a(class='btn setting' href='booksEdit_Step1.html') 銷售設定
    p.settingDec 2015/04/02 開始銷售
    .fnc
      .export
        span.icon_22_export
        span.dec 匯出
      .delete
        span.icon_22_delete
        span.dec 刪除
div.booksItem.bookuplod
  .booksInfo.col-phone-12.col-pad_v-12.col-pad_h-10.col-pc-10
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_default.jpg")
    .info
      .status
        small.tit 書本狀態: 
        small.c 轉檔中
      .name
        a(href='booksPage.html') 不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、
        p.p 轉檔中
      .progressDIv.col-phone-2.col-pad_v-2.col-pad_h-2.col-pc-2
        .progressBars
          span(style="width: 100%")
          div.percentage 上傳成功100%
      .progressDIv.col-phone-6.col-pad_v-4.col-pad_h-6.col-pc-6
        .transferaBar
          span(style="width: 90%")
          div.percentage 轉檔中90%
      .infoBtns.col-phone-4.col-pad_v-4.col-pad_h-4.col-pc-4
        a(class='btn infoBtn' href='booksPreviewer.html') 電子書預覽/修改
  .functions_pc.col-phone-12.col-pad_v-12.col-pad_h-2.col-pc-2
    a(class='btn setting' href='booksEdit_Step1.html') 銷售設定
    p.settingDec
    .fnc
      .export
        span.icon_22_export
        span.dec 匯出
      .delete
        span.icon_22_delete
        span.dec 刪除
div.booksItem.bookfail
  .booksInfo.col-phone-12.col-pad_v-12.col-pad_h-10.col-pc-10
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_default.jpg")
    .info
      .status
        small.tit 書本狀態: 
        small.c 轉檔失敗
      .name
        a(href='booksPage.html')  不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、
        p.p 轉檔失敗
      .progressDIv.col-phone-2.col-pad_v-2.col-pad_h-2.col-pc-2
        .progressBars
          span(style="width: 100%")
          div.percentage 上傳成功100%
      .progressDIv.col-phone-6.col-pad_v-4.col-pad_h-6.col-pc-6
        .transferaBar
          span(style="width: 20%")
          div.percentage 轉檔失敗
      .infoBtns.col-phone-4.col-pad_v-4.col-pad_h-4.col-pc-4
        a(class='btn infoBtn' href='booksPreviewer.html') 電子書預覽/修改
  .functions_pc.col-phone-12.col-pad_v-12.col-pad_h-2.col-pc-2
    a(class='btn setting' href='booksEdit_Step1.html') 銷售設定
    p.settingDec
    .fnc
      .export
        span.icon_22_export
        span.dec 匯出
      .delete
        span.icon_22_delete
        span.dec 刪除

div.booksItem.bookunSell
  .booksInfo.col-phone-12.col-pad_v-12.col-pad_h-10.col-pc-10
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_default.jpg")
    .info
      .status
        small.tit 書本狀態: 
        small.c 書本已下架
      .name
        a(href='booksPage.html') 不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、不拘創作形式，一場融合手繪、攝影不拘創作形式，一場融合手繪、
        p.p 下架中
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 電子書預覽/修改
  .functions_pc.col-phone-12.col-pad_v-12.col-pad_h-2.col-pc-2
    a(class='btn setting' href='booksEdit_Step1.html') 銷售設定
    p.settingDec
    .fnc
      .export
        span.icon_22_export
        span.dec 匯出
      .delete
        span.icon_22_unsale
        span.dec 下架

