.mainColumn
	.container
		.booksUpLoad_block_top.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
			h2.ta_center 檔案上傳
			.uploadBtn
				.uploadBtn_layer_1
					.booksUpLoadIcon_1
					.booksUpLoad_txt1 請上傳檔案
				.uploadBtn_layer_2
					.booksUpLoadIcon_2
					.booksUpLoad_txt2 支援 word、pdf、eub
				.booksUpLoadFinger
				input.filePrew(type='file', name='word', class='btn btn-navReport' style='opacity: 0;')
		.booksUpLoad_block_bottom.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
			a(class='btn outLinebtn-navReport col-2' href='#') 返回