div.booksItem.bookselling
  .booksInfo.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_1.jpg")
    .info
      .name
        a(href='booksPage.html') 格雷的五十道陰影
      .p 銷售中
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 書籍內容預覽/修改
  .booksetting.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .info
        p.price 99元
        p.p 已發行平台: Google Play ｜Amazon ｜iBooks
      .infoBtns
        a(class='btn settingBtn' href='booksPreviewer.html') 修改銷售設定
        a(class='btn infoBtn' href='booksPage.html') 連結分享
        a(class='btn' href='#') 匯出
        a(class='btn' href='#') 刪除
div.booksItem.bookselling
  .booksInfo.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_1.jpg")
    .info
      .name
        a(href='booksPage.html') 格雷的五十道陰影
      .p 銷售中
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 書籍內容預覽/修改
  .booksetting.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .info
        p.price 99元
        p.p 已發行平台: Google Play ｜Amazon ｜iBooks
      .infoBtns
        a(class='btn settingBtn' href='booksPreviewer.html') 修改銷售設定
        a(class='btn infoBtn' href='booksPage.html') 連結分享
        a(class='btn' href='#') 匯出
        a(class='btn' href='#') 刪除
div.booksItem.bookunPublish
  .booksInfo.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_default.jpg")
    .info
      .name
        a(href='booksPage.html') 格雷的五十道陰影
      .p 尚未發布
      .infoBtns
        a(class='btn infoBtn' href='booksPreviewer.html') 書籍內容預覽/修改
  .booksetting.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .info
        p.price 尚未設定售價
        p.p 
      .infoBtns
        a(class='btn settingBtn' href='booksPreviewer.html') 修改銷售設定
        a(class='btn infoBtn' href='booksPage.html') 連結分享
        a(class='btn' href='#') 匯出
        a(class='btn' href='#') 刪除
div.booksItem.bookuplod
  .booksInfo.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_default.jpg")
    .info
      .name
        a(href='booksPage.html') 一個人的老後：獨身晚年是女人的第二人生，請大方快樂地享用！
      .p 尚未發布
      .infoBtns
        .uploadStatus_1
          p 上傳完成
          div.meter.green
            span(style="width:100%")
        .uploadStatus_2
          p 電子書轉檔中
          div.meter.blue
            span(style="width:30%")
  .booksetting.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .info
        p.price 尚未設定售價
        p.p
      .infoBtns
        a(class='btn settingBtn' href='booksPreviewer.html') 修改銷售設定
        a(class='btn infoBtn' href='booksPage.html') 連結分享
        a(class='btn' href='#') 匯出
        a(class='btn' href='#') 刪除
div.booksItem.bookfail
  .booksInfo.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .cover
      a(href='booksPage.html')
        img(src="../assets/img/book_default.jpg")
    .info
      .name
        a(href='booksPage.html') 一個人的老後：獨身晚年是女人的第二人生，請大方快樂地享用！
      .p 尚未發布
      .infoBtns
        .uploadStatus_1
          p 上傳完成
          div.meter.green
            span(style="width:100%")
        .uploadStatus_2
          p
            a(href='booksPage.html') 電子書轉檔失敗 請重新上傳
          div.meter.fail
            span(style="width:30%")
  .booksetting.col-phone-12.col-pad_v-6.col-pad_h-6.col-pc-6
    .info
        p.price 尚未設定售價
        p.p 
      .infoBtns
        a(class='btn settingBtn' href='booksPreviewer.html') 修改銷售設定
        a(class='btn infoBtn' href='booksPage.html') 連結分享
        a(class='btn' href='#') 匯出
        a(class='btn' href='#') 刪除