.mainColumn
  .container
    .booksPage
      .booksCover.col-phone-12.col-pad_v-6.col-pad_h-4.col-pc-4
        .booksCoverInner
          .deviceIphone6
            svg(width='130', height='269')
              image(xlink:href='../assets/img/device_iphone6.svg', src='../assets/img/device_iphone6.png', width='130', height='269')
            .cover
              img(src="../assets/img/book_default_large.jpg")
          .deviceIpad
            svg(width='235', height='334')
              image(xlink:href='../assets/img/device_ipad.svg', src='../assets/img/device_ipad.png', width='235', height='334')
            .cover
              img(src="../assets/img/book_default_large.jpg")
        .ta_center
          a(class='button previewBtn' href='＃') 電子書10%試讀
      .booksInfo.col-phone-12.col-pad_v-6.col-pad_h-4.col-pc-4
        ul.bd_b
          li
            h4.title 格雷的五十道陰影I：調教格雷的五十道陰影I
          li
            span fifty shades of grey
          li
            span 作者： E L詹姆絲   譯者：朱立雅 
          li
            small 格雷系列 / 第一冊 / 001
        ul.bd_b
          li
            h4.title  fifty shades of grey
          li
            span fifty shades of grey
          li
            span E L James
          li
            small fifty shades of grey series / series  001 / 001
        ul.at_bottom
          li
            span.tag 文學小說
            span.tag 羅曼史
          li
            small.subData 語系：中文
          li
            small 出版日期：2015/01/06
          li
            small ISBN：9780804172073
          li
            small 原文出版社：Ballantine Books
      .booksSaleLink.col-phone-12.col-pad_v-12.col-pad_h-4.col-pc-4
        .booksSaleLinkInner
          .t
          .priceInfo
            span
              small 建議售價：
            span.price 200
            span 元
            ul
              li
                a(href='#')
                  img(src='../assets/img/shopGooglePlay.jpg', width='150', height='40')
                a(class='saleBtn' href='google.com')
                  span 前往購買
                  .icon_14_cArrow
              li
                a(href='#')
                  img(src='../assets/img/shopiBooks.jpg', width='150', height='40')
                a(class='saleBtn saleBtn-selling' href='google.com')
                  span 前往購買
                  .icon_14_cArrow
    .booksPageIntro
      h4.cololr_gray6 書籍簡介
      p 我不是會付出真心的男人。 我的口味非常特別，妳應該和我保持距離……
        br
        | 在被盯上之前，獵物不知自己是獵物身為即將畢業的大學生，純真的安娜的目標只有順利寫完論文和找到理想工作 而在那之前，她得先完成校刊社的任務：採訪商業鉅子格雷。
        br
        | 本以為只是一項簡單工作，但沒想到迎接她的，卻是心靈與身體皆難以抗拒的誘惑。她慌亂，她不安，她的心騷動難抑，於是──她落荒而逃 …
.editConfirm
  .container
    .editConfirmblock
      a(class='cancelbutton btn' href='booksEdit_Step1.html') 上一步
      a(class='setBtn btn' href='booksEdit_Step3.html') 發布銷售