.booksEditoCmplete{
	height: auto;
	margin: 15px 0 15px 0;
	overflow: auto;
	.completeBlock_L{
		.coverBlock{
			position: relative;
			margin: 60px auto;
			text-align: center;
			.coverBlock__Inner{
				position: relative;
				width: 50%;
				padding: 0;
				margin: 0 auto;
				//-webkit-transform: scale(0.7);
				//
				.deviceIpad{
					position: relative;
					width: 100%;
					height: 100%;
					padding: 0;
					//-webkit-transform: scale(0.7);
				}
				.cover{
					position: absolute;
					top: 9.8%;
					left: 6.3%;
					width: 87.5%;
					height: 82.7%;
					z-index: 20;
					img{
						width: 100%;
						height: auto;
						max-height:100%;
					}
				}
			}
		}
	}
	.completeBlock_R{
		padding-top: 88px;
		.completeBlockInner{
			color:#999;
		}
		.completeBlockInner a{
			color:#48B49B;
			text-decoration: underline;
		}
		.account_ok{
			color: #999;
			margin-top: 20px;
			a{
				color:#48B49B;
				text-decoration: underline;
			}
			.accountBtn{
				margin: 10px 0;
				color: #fff;
				background:#48B49B;
				text-decoration: none;
				border: solid 1px #48B49B;
				&:hover{
					background:#8ACFBE;
					border: solid 1px #8ACFBE;
				}
			}
			.accountTips{
				margin-left: 10px;
				line-height: 56px;
				a{
					font-size: 12px;
					color: #999;
					text-decoration: underline;
				}
			}
		}
		.account_notyet{
			color: #999;
			margin-top: 20px;
			a{
				color:#F2254C;
				text-decoration: underline;
			}
			.accountBtn{
				margin: 10px 0;
				color: #fff;
				background:#F2254C;
				text-decoration: none;
				border: solid 1px #F2254C;
				&:hover{
					background:#F01E62;
					border: solid 1px #F01E62;
				}
			}
			.accountTips{
				margin-left: 10px;
				line-height: 56px;
				a{
					font-size: 12px;
					color: #999;
					text-decoration: underline;
				}
			}
			.tit{
				line-height: 40px;
				color:#666;
				font-weight: bold;
			}
		}
		.tit{
			line-height: 40px;
			color:#48B49B;
			font-weight: bold;
		}
		.icon_40_notyet{
			display: inline-block;
			margin: 8px 8px 8px 0;
			@include cssSprite($icon_40_notyet);
		}
		.icon_40_ok{
			display: inline-block;
			margin: 8px 8px 8px 0;
			@include cssSprite($icon_40_ok);
		}
	}
}
@include setMediaQueries(pad_v){
	.booksEditoCmplete .completeBlock_L{
		.coverBlock{
			position: relative;
			margin: 10px auto;
			.coverBlock__Inner{
				width: 30%;
			}
		}
	}
	.booksEditoCmplete .completeBlock_R{
		padding-top: 10px;
	}
}
@include setMediaQueries(pad_h){
	.booksEditoCmplete .completeBlock_L{
		.coverBlock{
			position: relative;
			margin: 10px auto;
			.coverBlock__Inner{
				width: 30%;
			}
		}
	}
	.booksEditoCmplete .completeBlock_R{
		padding-top: 10px;
	}
}
@include setMediaQueries(phone){
	.booksEditoCmplete .completeBlock_L{
		.coverBlock{
			position: relative;
			margin: 10px auto;
			.coverBlock__Inner{
				width: 30%;
			}
		}
	}
	.booksEditoCmplete .completeBlock_R{
		padding-top: 10px;
	}
}