.SelectList-inner
	.SelectListBtns
		.tit
			h4 新增分類
			span 請選擇書籍分類 (最多兩個)
		.btns
			a(class='btn outLinebtn-navReport cancel' href='#') 取消
			a(class='btn btn-navReport send' href='#') 確認
			p.cololr_red 您已選擇超過2個分類！
	.pics
		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="1")
					| 文學小說
			ul.item.sub-panel
				li.item
					label
						input(depth="2" type="checkbox" value="10")
						| 翻譯文學
					ul.item.sub-panel
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="37")
								| 日本
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="38")
								| 美國
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="39")
								| 歐洲
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="40")
								| 東南亞

				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="11")
						| 電影/電視小說
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="12")
						| 散文詩歌
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="13")
						| 其他類小說

		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="2")
					| 愛情文藝小說

		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="3")
					| 幻俠推理小說
			ul
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="14")
						| 科幻/奇幻小說

				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="15")
						| 懸疑/推理小說

				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="16")
						| 武俠小說

				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="17")
						| 歷史/軍事小說
		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="4")
					| 生活休閒
			ul
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="18")
						| 寵物
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="19")
						| 旅遊
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="20")
						| 攝影

				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="21")
						| 美食

		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="5")
					| 圖文漫畫
			ul
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="22")
						| 動漫畫
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="23")
						| 圖文/插畫
		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="6")
					| 商業理財
			ul
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="24")
						| 管理
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="25")
						| 投資理財
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="26")
						| 行銷
		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="7")
					| 親子家庭
			ul
				li.item
					label
						input(depth="2"  type="checkbox" value="27")
						| 童書
					ul.item.sub-panel
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="41")
								| 0-2歲
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="42")
								| 3-6歲
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="43") 
								| 7-10歲
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="44")
								| 11-14歲
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="45")
								| 兒童繪本
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="28")
						| 家庭教育
		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="8")
					| 醫療/心靈
			ul
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="29")
						| 醫療保健
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="30")
						| 心靈養生
		.picItem.pic-phone-6.pic-pad_v-6.pic-pad_h-3.pic-pc-2
			h3
				label
					input(depth="1" type="checkbox" value="9")
					| 其他
			ul
				li.item
					label
						input(depth="2"  type="checkbox" value="31")
						| 人文史地
					ul.item.sub-panel
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="46")
								| 史地
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="47")
								| 哲學
				li.item
					label
						input(depth="2"  type="checkbox" value="32")
						| 社會科學
					ul.item.sub-panel
						li.no-sub-panellabel
							label
								input(depth="3" type="checkbox" value="48")
								| 心理學
						li.no-sub-panellabel
							label
								input(depth="3" type="checkbox" value="49")
								| 政治/軍事
						li.no-sub-panellabel
							label
								input(depth="3" type="checkbox" value="50")
								| 法律
				li.item
					label
						input(depth="2"  type="checkbox" value="33")
						| 自然科普
					ul.item.sub-panel
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="51")
								| 應用科學
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="52")
								| 自然科學
				li.item
					label
						input(depth="2"  type="checkbox" value="34")
						|藝術設計
					ul.item.sub-panel
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="53")
								| 藝術
						li.no-sub-panel
							label
								input(depth="3" type="checkbox" value="54")
								| 設計
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="35")
						| 語言學習
				li.item.no-sub-panel
					label
						input(depth="2"  type="checkbox" value="36")
						| 考試用書