footer(class="footer-copyright")
 .container
  small Copyright &copy; Corporation All rights reserved. Golden Board Cultural and Creative Ltd., Co 
  small
   a(href="http://w.bestbook.com/about.do") 金舷國際文創事業有限公司