.mainColumn
	.container
		.booksUpLoad
			h1 檔案上傳
			.uploadBtn
				.booksUpLoad_1
				.booksUpLoad_2
				.booksUpLoadFinger
				.booksUpLoad_txt1 請上傳檔案
				.booksUpLoad_txt2 支援 word、pdf、eub
				input.filePrew(type='file', name='word', class='btn btn-navReport' style='opacity: 0;')
		.booksUpLoad_2.textAlignRight
			a(class='btn outLinebtn-navReport col-2' href='#') 返回