header.globalheader
	.container
		.logoWrap.col-phone-4.col-pad_v-3.col-pad_h-3.col-pc-4
			a(href='#')
				.logo
		.function.col-phone-8.col-pad_v-9.col-pad_h-9.col-pc-8
			.notices_btu
				span.icon_notices
				span.notice_tips 20
			a(href='#')
				.userlogged
						span.iconUser
						span UserName
