doctype html
html
  include _frame/__htmlHead.jade
  body
    .rwdNone
      include _frame/__globalheader.jade
      //- .localNav
      //-  .container
      //-   .breadcrumbs
      //-    a(href='booksList.html') 首頁
      //-    span="｜編輯封面"
      include _frame/_booksCoverEdit_Step2.jade
      include _frame/__footer.jade