.mainColumn
  .container
    .publishFlow
      .pf_list.col-phone-12.col-pad_v-12.col-pad_h-3.col-pc-3
        p.title 出書流程
        ul
          li
            a(href="publishFlow_1.html") 上傳檔案
          li
            a(href="publishFlow_2.html") 書籍內容預覽/修改
          li.current
            ul.sub1
              li
                a(href="publishFlow_2.html#pf_2-1") 預覽
              li
                a(href="publishFlow_2.html#pf_2-2") 目錄及內容
          li
            a(href="publishFlow_3.html") 修改銷售設定
          li
            ul.sub1
              li
                a(href="publishFlow_3.html#pf_3-1") 書籍介紹設定
              li
                a(href="publishFlow_3.html#pf_3-2") 封面修改
              ul.sub2
                li
                  a(href="publishFlow_3.html#pf_3-2-1") 從電腦選擇檔案
                li
                  a(href="publishFlow_3.html#pf_3-2-2") 選擇系統圖庫
              li
                a(href="publishFlow_3.html#pf_3-3") 定價設定
          li
            a(href="publishFlow_4.html") 連結分享
          li
            a(href="publishFlow_5.html") 匯出ePub
          li
            a(href="publishFlow_6.html") 刪除
          li
            a(href="publishFlow_7.html") 上傳進度
          li
            a(href="faq.html") 常見問題
          li
            a(href="incomeFaq.html") 收入與付款說明
      .pf_contents.col-phone-12.col-pad_v-12.col-pad_h-9.col-pc-9(name="top")
        ul
          li
            a(name="pf_2")
            h2 書籍內容預覽/修改
            p Step 1.電子書內容預覽
            .pfImg
              img(src='../assets/img/publishFlow/pf_img_04.jpg')
            .backTop.ta_right
              a(href="#top") ↑ 回到頂端頁面
          li
            a(name="pf_2-1")
            h2 預覽
            p Step 1.閱讀器模擬預覽
            .pfImg
              img(src='../assets/img/publishFlow/pf_img_05.jpg')
            .backTop.ta_right
              a(href="#top") ↑ 回到頂端頁面
          li
            h2 預覽
            p Step 2.閱讀器模擬預覽
            .pfImg
              img(src='../assets/img/publishFlow/pf_img_06.jpg')
            .backTop.ta_right
              a(href="#top") ↑ 回到頂端頁面
          li
            a(name="pf_2-2")
            h2 目錄及內容修改
            p Step 1.進行進階編輯
            .pfImg
              img(src='../assets/img/publishFlow/pf_img_07.jpg')
            .backTop.ta_right
              a(href="#top") ↑ 回到頂端頁面
.editConfirm
  .container
    .editConfirmblock
      a(class='cancelbutton btn' href='bookFileUpload.do"') 新增書本