.localNav{
	width: 100%;
	min-width: 1200px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: solid 1px #e4e4e4;
}
.localNav .breadcrumbs{
	position: relative;
	float: left;
	font-size: 13px;
}
.localNav .breadcrumbs a{
	color: #2D6CA2;
	text-decoration: underline;
}
.localNav .navButton{
	position: relative;
	float: right;
}
.navButton > .btn{
	width: 150px;
	height: 40px;
	padding: 0px;
	line-height: 40px;
	margin: -2px 0px 0 2px;
}