doctype html
html
  include ../frame/htmlHead.jade
  body
    include ../frame/globalheader.jade
    .localNav
     .container
      .breadcrumbs
       a(href='google.com') 首頁
       span="｜書籍介紹編輯"
    include ../frame/BPC.jade
    include ../frame/footer.jade