doctype html
html
  include ../frame/htmlHead.jade
  body
    include ../frame/globalheader.jade
    .indexBanner
     .container
      .inside
       h2.indexTitle 立即轉檔 立即發佈
       h4.indexInfoTitle 轉檔出書，完全免費<br>最快速的文書檔轉成epub的供應者<br>epub檔案可以匯出，電子書自己出版<br>轉檔—>預覽—>編輯—>校稿—>發佈(銷售)，一氣呵成
      .indexInnerRight
       .subDes
       button(type="submit",  class="btn redBtn") 上傳檔案
       <br>
       .subDes *目前支援word、PDF、ePub格式
      .indexInnerLeft
       .subDes ePub是最好的電子書格式<br>
       button(type="submit",  class="btn blueBtn") 取得ePub檔案
      .progressDiv
       .progress
        .progress-bar.progress-bar-success.progress-bar-striped(role="progressbar" style="width: 30%;")
      .indexInnerLeftDes 可幫您發佈到以下平台<br>Google Play<br>iBook<br>Amazone
      .indexBannerImg1
        img(src="../assets/img/indexBannerImg1.png")
      .indexBannerImg2
        img(src="../assets/img/indexBannerImg2.png")
      .indexBannerImg2Des
       span 可用
       span.black 螢幕模擬器
       span(有專利)，<br>模擬多款Phone/Pad 校稿
    .indexSection.grad1
     .container
      .sectionImg.img1
       img(src="../assets/img/indexSection_1.png")
      .info_l
       h2 預覽電子書效果，模擬多種尺寸Phone/Pad
       h4 有專利的『螢幕模擬器』，可先在網頁上預覽多種尺寸行動裝置閱讀電子書的效果，充分掌握讀者閱讀感受
    .indexSection.grad2
     .container
      .sectionImg.img2
       img(src="../assets/img/indexSection_2.png")
      .info_r
       h2 封面設計自己動手，輕鬆搞定！
       h4 雲書提供多種底圖選擇，也可以自行上傳圖片，編排設計標題文字，為自己的書設計一張獨一無二的封面吧！
    .indexSection.grad3
     .container
      .sectionImg.img3
       img(src="../assets/img/indexSection_3.png")
      .info_l
       h2 線上校稿，即時修訂即時編排
       h4 雲書的線上校稿，即時修訂，舉凡是錯字、排版、標點符號，通通立即修正，隨時調整內容！
    .indexSection.grad4
     .container
      .sectionImg.img4
       img(src="../assets/img/indexSection_4.png")
      .info_r
       h2 進階編輯
       h4 想要調整表格、圖片或是整段章節？歡迎使用進階編輯功能，讓書的內容更加豐富好讀！
    include ../frame/footer.jade