.mainColumn
	.container_rwdNone
		.booksCoverSelect
			.coverSelect.col-pc-6.ta_center
				.coverSelect_01
					input.coverSelectInput(type='file', name='word', class='coverSelectInput' style='opacity: 0;')
				h2 從電腦選擇檔案
				span.cololr_gray9 
					small JPEG, PNG / 768*1024 / 檔案小於4M
			.coverSelectOR.cololr_gray9 或
			.coverSelect.col-pc-6.ta_center
				a(class='cololr_gray9' href='booksCoverEdit_Step1.html')
					.coverSelect_02
					h2 選擇系統圖庫
