.booksPreviewer
  .device__selector
    ul#Previewer__selector
      li.active
        a(href='#')
          span.icon_42_phone
          span 手機直向
      li
        a(href='#')
          span.icon_42_phone_h
          span 手機橫向
      li
        a(href='#')
          span.icon_42_pad
          span 平板直向
      li
        a(href='#')
          span.icon_42_pad_h
          span 平板橫向
      li
        a(href='#')
          span.icon_42_pc
          span 電腦
    a(class='setBtn btn editBtn' href='booksEdit_Step1.html') 銷售設定

.booksPreviewer__simulator
  ul#Previewer__simulator
    li
      .deviceIphone6
        a(href='#')
          .editBtn 目錄製作及
            br
            | 內容修改
        svg(viewBox="0,0,436,879")
          image(xlink:href='../assets/img/device_iphone6.svg', src='../assets/img/device_iphone6.png', width='436', height='879')
        .cover 馬刺辛苦拚到第7戰驚險晉級的快艇走，原因在於保羅左大腿拉傷瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳的他，只能雙手抱頭，表情相當痛苦，隨即跟防護員進入休息室治療，當他第2節回到場內，明顯走得一跛一跛。
    li.is-hide
      .deviceIphone6_h
        a(href='booksEdit.html')
          .editBtn 目錄製作及
            br
            | 內容修改
        svg(viewBox="0,0,879,436")
          image(xlink:href='../assets/img/device_iphone6_h.svg', src='../assets/img/device_iphone6_h.png', width='879', height='436')
        .cover 馬刺辛苦拚到第7戰驚險晉級的快艇走，原因在於保羅左大腿拉傷瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳的他，只能雙手抱頭，表情相當痛苦，隨即跟防護員進入休息室治療，當他第2節回到場內，明顯走得一跛一跛。
    li.is-hide
      .deviceIpad
        a(href='booksEdit.html')
          .editBtn 目錄製作及
            br
            | 內容修改
        svg(viewBox="0,0,865,1280")
          image(xlink:href='../assets/img/device_ipad.svg', src='../assets/img/device_ipad.png', width='865', height='1280')
        .cover 馬刺辛苦拚到第7戰驚險晉級的快艇走，原因在於保羅左大腿拉傷瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳的他，只能雙手抱頭，表情相當痛苦，隨即跟防護員進入休息室治療，當他第2節回到場內，明顯走得一跛一跛。
    li.is-hide
      .deviceIpad_h
        a(href='booksEdit.html')
          .editBtn 目錄製作及
            br
            | 內容修改
        svg(viewBox="0,0,1280,865")
          image(xlink:href='../assets/img/device_ipad_h.svg', src='../assets/img/device_ipad_h.png', width='1280', height='865')
        .cover 馬刺辛苦拚到第7戰驚險晉級的快艇走，原因在於保羅左大腿拉傷瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳的他，只能雙手抱頭，表情相當痛苦，隨即跟防護員進入休息室治療，當他第2節回到場內，明顯走得一跛一跛。
    li.is-hide
      .devicePc
        a(href='booksEdit.html')
          .editBtn 目錄製作及
            br
            | 內容修改
        .cover 馬刺辛苦拚到第7戰驚險晉級的快艇走，原因在於保羅左大腿拉傷瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳原因在於保羅左大腿拉傷狀況未明，就連快艇總教練瑞弗斯都說：「我想保羅很有可能缺席次輪首役，假如要我現在猜測，我認為不打機會很高。」保羅在首節還剩2分11秒投進三分球後開始出現左腿不適跡象，儘管20秒後被換下場，坐在板凳的他，只能雙手抱頭，表情相當痛苦，隨即跟防護員進入休息室治療，當他第2節回到場內，明顯走得一跛一跛。
  #rangePanel
    .rangeBar
      .rangePoint
      .rangeDragPoint
      .range_tooltip 31 %
  a(class="line-arrow square left" href="javascript:;")
  a(class="line-arrow square right" href="javascript:;")



