.mainColumn
	.container_rwdNone
		.booksCoverEdit_step2
			.booksCoverEdit__block.col-pc-7
				.coverSpace.ta_center(tabindex='0')
					canvas.coverCanvas
				.selectpPic.ta_center
					input(class='btn btn-navReport' type='submit', value='重新選擇圖檔')
			.booksCoverEditWrap.borderBlock.col-pc-5
				.t
				.coverToolbar
					.tip
						span.cololr_red 在圖上拖拉文字框，可改變字的大小、位置、角度
					.field
						.label
							input(type='checkbox')
							label
								small.cololr_gray9 書名
						.setting
							p 3.65天的愛情
							.objectProperties(style='')
								ul.objectSetUI
									li.objectFontFamily
										select(name='en_fontList')
											option(value='華康細明體') 華康細明體
											option(value='華康細黑體') 華康細黑體
											option(value='華康中明體') 華康中明體
											option(value='華康中黑體') 華康中黑體
											option(value='華康粗明體') 華康粗明體
											option(value='華康粗黑體') 華康粗黑體
											option(value='華康特明體') 華康特明體
											option(value='華康特黑體') 華康特黑體
											option(value='華康超明體') 華康超明體
											option(value='華康超黑體') 華康超黑體
											option(value='新細明體') 新細明體
											option(value='微軟正黑體') 微軟正黑體
											option(value='標楷體') 標楷體
											option(value='宋體') 宋體
											option(disabled='disabled') ----------
											option(value='Arial') Arial
											option(value='Arial Black') Arial Black
											option(value='Blackletter') Blackletter
											option(value='Courier') Courier
											option(value='Fixedsys') Fixedsys
											option(value='Comic Sans') Comic Sans
											option(value='Impact') Impact
											option(value='Marlett') Marlett
											option(value='MS Sans Serif') MS Sans Serif
											option(value='Tahoma') Tahoma
											option(value='Terminal') Terminal
											option(value='Times New Roman') Times New Roman
											option(value='verdana') verdana
									li.objectFontWeight.current
									li.objectFontStyle
									li.objectTextUnderline
									li.objectFontColor
										label(for='objectFontColor')
										input.objFontColor(type='text', name='objectFontColor', value='#333399')
								.objectText
									textarea
					hr
					.field
						.label
							input(type='checkbox')
							label
								small.cololr_gray9 書名
						.setting
							p 3.65天的愛情
							.objectProperties(style='')
								ul.objectSetUI
									li.objectFontFamily
										select(name='en_fontList')
											option(value='華康細明體') 華康細明體
											option(value='華康細黑體') 華康細黑體
											option(value='華康中明體') 華康中明體
											option(value='華康中黑體') 華康中黑體
											option(value='華康粗明體') 華康粗明體
											option(value='華康粗黑體') 華康粗黑體
											option(value='華康特明體') 華康特明體
											option(value='華康特黑體') 華康特黑體
											option(value='華康超明體') 華康超明體
											option(value='華康超黑體') 華康超黑體
											option(value='新細明體') 新細明體
											option(value='微軟正黑體') 微軟正黑體
											option(value='標楷體') 標楷體
											option(value='宋體') 宋體
											option(disabled='disabled') ----------
											option(value='Arial') Arial
											option(value='Arial Black') Arial Black
											option(value='Blackletter') Blackletter
											option(value='Courier') Courier
											option(value='Fixedsys') Fixedsys
											option(value='Comic Sans') Comic Sans
											option(value='Impact') Impact
											option(value='Marlett') Marlett
											option(value='MS Sans Serif') MS Sans Serif
											option(value='Tahoma') Tahoma
											option(value='Terminal') Terminal
											option(value='Times New Roman') Times New Roman
											option(value='verdana') verdana
									li.objectFontWeight.current
									li.objectFontStyle
									li.objectTextUnderline
									li.objectFontColor
										label(for='objectFontColor')
										input.objFontColor(type='text', name='objectFontColor', value='#333399')
								.objectText
									textarea
					hr
					.field
						.label
							input(type='checkbox')
							label
								small.cololr_gray9 書名
						.setting
							p 3.65天的愛情
							.objectProperties(style='')
								ul.objectSetUI
									li.objectFontFamily
										select(name='en_fontList')
											option(value='華康細明體') 華康細明體
											option(value='華康細黑體') 華康細黑體
											option(value='華康中明體') 華康中明體
											option(value='華康中黑體') 華康中黑體
											option(value='華康粗明體') 華康粗明體
											option(value='華康粗黑體') 華康粗黑體
											option(value='華康特明體') 華康特明體
											option(value='華康特黑體') 華康特黑體
											option(value='華康超明體') 華康超明體
											option(value='華康超黑體') 華康超黑體
											option(value='新細明體') 新細明體
											option(value='微軟正黑體') 微軟正黑體
											option(value='標楷體') 標楷體
											option(value='宋體') 宋體
											option(disabled='disabled') ----------
											option(value='Arial') Arial
											option(value='Arial Black') Arial Black
											option(value='Blackletter') Blackletter
											option(value='Courier') Courier
											option(value='Fixedsys') Fixedsys
											option(value='Comic Sans') Comic Sans
											option(value='Impact') Impact
											option(value='Marlett') Marlett
											option(value='MS Sans Serif') MS Sans Serif
											option(value='Tahoma') Tahoma
											option(value='Terminal') Terminal
											option(value='Times New Roman') Times New Roman
											option(value='verdana') verdana
									li.objectFontWeight.current
									li.objectFontStyle
									li.objectTextUnderline
									li.objectFontColor
										label(for='objectFontColor')
										input.objFontColor(type='text', name='objectFontColor', value='#333399')
								.objectText
									textarea
					hr
					.field
						a(href='#' class='newTxt')
							span 新增文字
					hr
					.field
						.label
						.setting
							.objectProperties(style='')
								ul.objectSetUI
									li.objectFontFamily
										select(name='en_fontList')
											option(value='華康細明體') 華康細明體
											option(value='華康細黑體') 華康細黑體
											option(value='華康中明體') 華康中明體
											option(value='華康中黑體') 華康中黑體
											option(value='華康粗明體') 華康粗明體
											option(value='華康粗黑體') 華康粗黑體
											option(value='華康特明體') 華康特明體
											option(value='華康特黑體') 華康特黑體
											option(value='華康超明體') 華康超明體
											option(value='華康超黑體') 華康超黑體
											option(value='新細明體') 新細明體
											option(value='微軟正黑體') 微軟正黑體
											option(value='標楷體') 標楷體
											option(value='宋體') 宋體
											option(disabled='disabled') ----------
											option(value='Arial') Arial
											option(value='Arial Black') Arial Black
											option(value='Blackletter') Blackletter
											option(value='Courier') Courier
											option(value='Fixedsys') Fixedsys
											option(value='Comic Sans') Comic Sans
											option(value='Impact') Impact
											option(value='Marlett') Marlett
											option(value='MS Sans Serif') MS Sans Serif
											option(value='Tahoma') Tahoma
											option(value='Terminal') Terminal
											option(value='Times New Roman') Times New Roman
											option(value='verdana') verdana
									li.objectFontWeight.current
									li.objectFontStyle
									li.objectTextUnderline
									li.objectFontColor
										label(for='objectFontColor')
										input.objFontColor(type='text', name='objectFontColor', value='#333399')
								.objectText
									textarea
					hr
				.booksEdit__bottomBlock.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-12
					a(class='btn outLinebtn-navReport col-3' href='#') 重新選擇圖檔
					a(class='btn btn-navReport col-3' href='#') 確認