.mainColumn
  .container
    .publishFlow
      .pf_list.col-phone-12.col-pad_v-12.col-pad_h-3.col-pc-3
        p.title 出書流程
        ul
          li.current
            a(href="publishFlow_1.html") 上傳檔案
          li
            a(href="publishFlow_2.html") 書籍內容預覽/修改
          li
            ul.sub1
              li
                a(href="publishFlow_2.html#pf_2-1") 預覽
              li
                a(href="publishFlow_2.html#pf_2-2") 目錄及內容
          li
            a(href="publishFlow_3.html") 修改銷售設定
          li
            ul.sub1
              li
                a(href="publishFlow_3.html#pf_3-1") 書籍介紹設定
              li
                a(href="publishFlow_3.html#pf_3-2") 封面修改
              ul.sub2
                li
                  a(href="publishFlow_3.html#pf_3-2-1") 從電腦選擇檔案
                li
                  a(href="publishFlow_3.html#pf_3-2-2") 選擇系統圖庫
              li
                a(href="publishFlow_3.html#pf_3-3") 定價設定
          li
            a(href="publishFlow_4.html") 連結分享
          li
            a(href="publishFlow_5.html") 匯出ePub
          li
            a(href="publishFlow_6.html") 刪除
          li
            a(href="publishFlow_7.html") 上傳進度
          li
            a(href="faq.html") 常見問題
          li
            a(href="incomeFaq.html") 收入與付款說明
      .pf_contents.col-phone-12.col-pad_v-12.col-pad_h-9.col-pc-9(name="top")
        h1 出書流程說明
        .stepsImg
            img(src='../assets/img/publishFlow/pf_step_1.jpg')
        ul
          li
            a(name="pf_1")
            h2 上傳檔案
            p Step 1.點擊免費上傳
            .pfImg
              img(src='../assets/img/publishFlow/pf_img_01.jpg')
            .backTop.ta_right
              a(href="#top") ↑ 回到頂端頁面
          li
            h2 上傳檔案
            p Step 2.選取要上傳的檔案(支援Word、PDF、ePub) *請確認您的檔案沒有設定密碼或是保護
            .pfImg
              img(src='../assets/img/publishFlow/pf_img_02.jpg')
            .backTop.ta_right
              a(href="#top") ↑ 回到頂端頁面
          li
            h2 上傳檔案
            p Step 3.等待轉檔
            .pfImg
              img(src='../assets/img/publishFlow/pf_img_03.jpg')
            .backTop.ta_right
              a(href="#top") ↑ 回到頂端頁面
.editConfirm
  .container
    .editConfirmblock
      a(class='cancelbutton btn' href='bookFileUpload.do"') 新增書本