.mainColumn
  .container
    .sellComplete.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-5
      .sellCover.col-phone-16.col-pad_v-4.col-pad_h-5.col-pc-12
        .sellCoverInner
          .deviceIphone6
            svg(viewBox="0,0,437,879")
              image(xlink:href='../assets/img/device_iphone6.svg', src='../assets/img/device_iphone6.png', width='437', height='879')
            .cover
              img(src="../assets/img/book_1.jpg")
          .deviceIpad
            svg(viewBox="0,0,866,1280")
              image(xlink:href='../assets/img/device_ipad.svg', src='../assets/img/device_ipad.png', width='866', height='1280')
            .cover
              img(src="../assets/img/book_1.jpg")
      .sellInfo.col-phone-12.col-pad_v-8.col-pad_h-7.col-pc-12
        ul
          li
            h4.title 格雷的五十道陰影I：調教格雷的五十道陰影I
          li
            span fifty shades of grey
          li
            span 作者： E L詹姆絲   譯者：朱立雅 
          li
            small 格雷系列 / 第一冊 / 001
    .sellCompleteBorder.col-phone-12.col-pad_v-12.col-pad_h-12.col-pc-7
      .t
      .priceInfo
        h3.fz_24 書籍資料已送出
        .priceInfo__Block
          span.fz_14 新書需等平台驗證後上架 
          a(class='fz_12 cololr_gray6' href='#')
            span.icon_14_tips
          br
          span.fz_14 95%的書籍異動可於24hr內完成，您可於1-2日後至 
          a(href='booksList.html' class='fz_12') 作品列表 
          span.fz_14 確認上架狀態
        .priceInfo__BorderBlock
          h4 本次上架平台
          .BlockInner
            div
              img(src='../assets/img/shopGooglePlay.jpg', width='100', height='27')
              span.ta_right.fz_14  上架審核中
            div
              img(src='../assets/img/shopiBooks.jpg', width='100', height='27')
              span.ta_right.fz_14 上架審核中
          .BlockInnerPrice.ta_center
            span 建議售價：200元
        .settingButtons
          a(href='booksList.html') 看此書介紹網頁
          a(href='booksList.html') 回作品列表
          a(href='booksUpLoad.html') 新增更多書籍
        .priceInfo__Block
          h4.cololr_gray6 填寫領款資訊
          span.fz_14 雲書將於每月25日將您的稿費匯入指定帳戶。
            a(href='#') 書籍銷售說明
        .settingButtons
          a(class='btn' href='google.com') 我的銀行帳號設定