header.globalheader
	.container
		.logoWrap.col-phone-4.col-pad_v-3.col-pad_h-3.col-pc-4
			a(href='index.html')
				.logo
		.function.col-phone-8.col-pad_v-9.col-pad_h-9.col-pc-8
			a(href='booksList.html' alt='作品列表' title='作品列表')
				.booksListBtn
					span.icon_22_bokksList
					span 作品列表
			a(href='#' alt='通知' title='通知')
				.notices_btu
					span.icon_notices
					span.notice_tips 20
			a(href='#' alt='會員中心' title='會員中心')
				.userlogged
					span.iconUser
			a(href='faq.html' alt='FAQ' title='FAQ')
				.userFAQ
					span.icon_22_FAQ
			.notice_rec
				ul
					li
						.noticeIcon
							.tag.nc-selling 書本上架
						.noticeStatus
							p.title 不拘創作形式，一場融合手繪、攝影
							p.time 04-14 10:15
							a(class='nc-selling' style='margin-left: 10px;', href='#', target='_blank') 預覽
					li
						.noticeIcon
							.tag.nc-unSell 書本下架
						.noticeStatus
							p.title 不拘創作形式，一場融合手繪、攝影
							p.time 04-14 10:15
							a(class='nc-unSell' style='margin-left: 10px;', href='#', target='_blank') 預覽
					li
						.noticeIcon
							.tag.nc-unPublish  上傳成功
						.noticeStatus
							p.title 不拘創作形式，一場融合手繪、攝影
							p.time 04-14 10:15
							a(class='nc-unPublish' style='margin-left: 10px;', href='#', target='_blank') 預覽
					li
						.noticeIcon
							.tag.nc-fail  轉檔失敗
						.noticeStatus
							p.title 不拘創作形式，一場融合手繪、攝影
							p.time 04-14 10:15
							a(class='nc-fail' style='margin-left: 10px;', href='#', target='_blank') 預覽
					li
						.noticeIcon
							.tag.nc-uplod  轉檔中
						.noticeStatus
							p.title 不拘創作形式，一場融合手繪、攝影
							p.time 04-14 10:15
							a(class='nc-uplod' style='margin-left: 10px;', href='#', target='_blank') 預覽
			.logMenu
				ul
					li
						a(href='#')
							p 我的帳戶
					li
						a(href='#')
							p 登出