doctype html
html
  include _frame/__htmlHead.jade
  body
    include _frame/__globalheader.jade
    //- .localNav
    //-  .container_rwdNone
    //-   .breadcrumbs
    //-    a(href='booksList.html') 首頁
    //-    span="｜編輯封面"
    include _frame/_booksCoverEdit.jade
    include _frame/__footer.jade