.main-product{
	.name-mobile{
		display: none;
	}
	figure{
		margin: 10px 0 20px;
		@include clearfix;
		img{
			float: left;
			width: 30%;
			border: 1px solid #afb0b3;
			padding: 30px 30px 40px 30px;
			background: #f5f5f5;
			@include border-radius(10px);
			@include box-shadow(1px 2px 3px rgba(0,0,0,0.2));
		}
		figcaption{
			float: left;
			width: 70%;
			padding: 20px 0 0 100px;
			@include box-sizing(border-box);
			h1{
				font-size: 1.6em;
				margin-bottom: 15px;
				line-height: 140%;
				color: black;
				font-weight: bold;
			}
			.feature{
				margin: 20px auto;
				height: 200px;
				li{
					line-height: 200%;
				}
			}
			.line{
				margin: 15px 0;
				@include clearfix;
			}
			.attr{
				@include clearfix;
				li{
					float: left;
					cursor: pointer;
					margin-right: 8px;
					padding: 8px 15px;
					border: 1px solid $light_gray;
					&.selected{
						border: 1px solid $gray;
						color: $gray;
					}
				}
			}
		}
	}
	.buy{
		.price, a{
			margin-right: 10px;
		}
		.price{
			font-size: 2.4em;
			color: $red;
			margin-bottom: 10px;
			vertical-align: middle;
		}
		&.center{
			text-align: center;
		}
	}
	.book-info{
		margin: 0 0px 35px 0px;
		padding: 30px 36px 60px;
		border: 1px solid $light_gray;
		line-height: 140%;
		letter-spacing: 2px;
		@include border-radius(10px);
		@include box-sizing(border-box);
		h3{
			color: $blue;
		}
		h4{
			color: #000;
			margin: 24px 0;
		}
		a{
			color: $dark_blue;
			text-decoration: underline;
		}
	}
}

//large screen
@media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
	.main-product{

	}
}

//pad
@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
	.main-product{
		.name-mobile{
			padding: 10px;
			display: block;
			text-align: center;
			color: black;
			font-size: 1.6em;
		}
		figure{
			text-align: center;
			img{
				width: 40%;
				float: none;
				padding: 20px 10px;
			}
			figcaption{
				width: 100%;
				text-align: center;
				padding: 20px 0;
				h1{
					display: none;
				}
				.feature{
					display: inline-block;
					text-align: left;
					margin: 20px auto;
					height: auto;
				}
			}
		}
		.buy{
			width: 28%;
			margin: 0px auto;
			text-align: left;
			.price{
				display: inline-block;
			}
			.button{
				display: none;
			}
		}
		.buy_sub{
			display: none;
		}
	}
}

//mobile
@media only screen and (max-width: $screen-sm-max){
	.main-product{
		.name-mobile{
			padding: 10px;
			display: block;
			text-align: center;
			color: black;
			font-size: 1.2em;
		}
		figure{
			text-align: center;
			img{
				width: 50%;
				float: none;
				padding: 20px 10px;
			}
			figcaption{
				width: 100%;
				padding: 20px 40px;
				text-align: left;
				h1{
					display: none;
				}
				.feature{
					display: inline-block;
					text-align: left;
					margin: 20px auto;
					height: auto;
				}
			}
			.buy{
				width: 100%;
				margin: 0 auto;
				text-align: left;
			}
			.button{
				display: none;
			}
		}
		.buy{
			text-align: center;
			width: 80%;
			margin: 0 auto;
			.price{
				font-size: 1.5em;
				display:block;
			}
			.button{
				width: 100%;
				margin: 6px auto;

			}
		}
		.buy_sub{
			display: none;
		}
	}
}