.mainColumn
    .container
     .booksSetting
      .booksPDCover
       .deviceIpad
        svg(width='426', height='619')
            image(xlink:href='../assets/img/device_ipad.svg', src='../assets/img/device_ipad.png', width='426', height='619')
        .cover
         img(src="../assets/img/book_1.jpg")
     .booksPDSaleLink
      .t
      .priceInfo